{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
        <!-- Page Header Start -->
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
<h2 class="page-title">Connectez-vous a votre compte</h2>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <!-- Content section Start --> 
    <section id="content">
      <div class="container">
        <div class="row justify-content-center">
<div class="col-lg-4 ecartemmarge">

            <div class="page-login-form box">
              <h3>
               Se connecter
              </h3>
              <form role="form" class="login-form" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                      Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
                <div class="form-group">
                  <div class="input-icon">
                    <i class="icon fas fa-user"></i>
                    <input type="email" id="sender-email inputEmail" class="form-control" value="{{ last_username }}" placeholder="Email" name="email" required>
                  </div>
                </div> 
                <div class="form-group">
                  <div class="input-icon">
                    <i class="icon fas fa-unlock-alt"></i>
                    <input type="password" placeholder="mot de passe" name="password" id="inputPassword" class="form-control" required>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                  </div>
                </div>                  
                <div class="checkbox">
                  <input type="checkbox" id="remember" name="rememberme" value="forever" style="float: left;">
                  <label for="remember">Se souvenir de moi</label>
                </div>
                <button class="btn btn-common log-btn" type="submit">Se connecter</button>
              </form>
              <ul class="form-links">
<li class="float-left">
	<a href="{{ path('app_inscription') }}">Vous n'avez pas de compte ?</a>
</li>

<li class="float-right">
	<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content section End --> 

    
   
{% endblock %}
