{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<!-- Page Header Start -->
	<div class="page-header" style="background: url(assets/img/banner1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-wrapper">
						<h2 class="page-title">Nous rejoindre</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Content section Start -->
	<section id="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4">
					<div class="page-login-form box">
						<h3>
S'inscrire

						</h3>
						{% for flashError in app.flashes('verify_email_error') %}
							<div class="alert alert-danger" role="alert">{{ flashError }}</div>
						{% endfor %}

						{{ form_start(registrationForm,{'attr':{'role':'form','class':'login-form'}}) }}
						{{ form_errors(registrationForm)}}
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-user"></i>
								{{ form_widget(registrationForm.nom,{'attr':{'class':'form-control','placeholder':'Nom'}}) }}
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-user"></i>
								{{ form_widget(registrationForm.prenom,{'attr':{'class':'form-control','placeholder':'Prenom'}}) }}
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-user"></i>
								{{ form_widget(registrationForm.zone,{'attr':{'class':'form-control','placeholder':'Zone'}}) }}
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-user"></i>
								{{ form_widget(registrationForm.telephone,{'attr':{'class':'form-control','placeholder':'Phone'}}) }}
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-envelope"></i>
								{{ form_widget(registrationForm.email,{'attr':{'class':'form-control','placeholder':'Email'}}) }}
								<span class="form_error">{{ form_errors(registrationForm.email)}}</span>
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon">
								{{ form_widget(registrationForm.profil,{'attr':{'class':'form-control','placeholder':'Profil'}}) }}
							</div>
						</div>
						
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-unlock-alt"></i>
								{{ form_widget(registrationForm.plainPassword.first,{'attr':{'class':'form-control','placeholder':'mot de passe'}}) }}
								{{ form_errors(registrationForm.plainPassword)}}
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-unlock-alt"></i>
								{{ form_widget(registrationForm.plainPassword.second,{'attr':{'class':'form-control','placeholder':'Retaper le mot de passe'}}) }}
							
							</div>
						</div>
						<div class="checkbox">
							{{ form_widget(registrationForm.agreeTerms) }}
<label for="remember">En créant un compte, vous acceptez nos termes & Conditions générales</label>

						</div>
						<button type="submit" class="btn btn-common log-btn">Valider</button>
						{{ form_end(registrationForm) }}

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Content section End -->
	
{% endblock %}
