{% extends 'base.html.twig' %}

{% block title %}Créer un compte préstataire
{% endblock %}

{% block body %}
<!-- Page Header Start -->
<div class="page-header" style="background: url({{asset('assets/img/banner1.jpg')}});">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-title">Devenir prestataire</h1>
			</div>
		</div>
	</div>
</div>
<!-- Page Header End -->

<!-- Content section Start -->
<section id="content">
	<div class="container">
		<div class="row justify-content-center">
			{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}

			{{ form_start(registrationForm,{'attr':{'role':'form','class':'login-form'}}) }}
			{{ form_errors(registrationForm)}}
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="row page-content">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ecartemmarge">

						<div class="inner-box">
							<div class="tg-contactdetail">
								<h2 class="title-2">Informations prestataire</h2>
								<div class="dashboard-wrapper">
									<div class="form-group mb-3">
										<label class="control-label">Prénom</label>
										{{ form_widget(registrationForm.prenom,{'attr':{'class':'form-control input-md'}})
										}}
									</div>
									<div class="form-group mb-3">
										<label class="control-label">Nom</label>
										{{ form_widget(registrationForm.nom,{'attr':{'class':'form-control input-md'}})
										}}
									</div>
							

									<div class="form-group mb-3">
										<label class="control-label">Téléphone</label>
										{{ form_widget(registrationForm.telephone,{'attr':{'class':'form-control input-md'}})
										}}
									</div>
									<div class="form-group mb-3">
										<label class="control-label">Adresse</label>
										{{ form_widget(registrationForm.adresse,{'attr':{'class':'form-control input-md'}})
										}}
									</div>

									<div class="form-group mb-3">
										<label class="control-label">Email</label>
										{{ form_widget(registrationForm.email,{'attr':{'class':'form-control input-md'}})
										}}
										<span class="form_error">{{ form_errors(registrationForm.email)}}</span>
									</div>

									<div class="form-group mb-3">
										<label class="control-label">Mot de passe</label>
										{{ form_widget(registrationForm.plainPassword.first,{'attr':{'class':'form-control input-md'}})
										}}
									</div>
									<div class="form-group mb-3">
										<label class="control-label">Confirmer mot de passe</label>
										{{ form_widget(registrationForm.plainPassword.second,{'attr':{'class':'form-control input-md'}})
										}}
									</div>

								</div>

							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ecartemmarge">

						<div class="inner-box">
							<h2 class="title-2">Détail Profession</h2>
							<div class="dashboard-wrapper">
								<div class="form-group mb-3">
									<label class="control-label">quelle est votre profession ?</label>
									<input class="form-control input-md" name="Title"
										placeholder="veuillez répondre ici" type="text">

								</div>
								<div class="form-group mb-3 tg-inputwithicon">
									<label class="control-label">veuillez choisir la zone dans laquelle vous
										travaillez.</label>

									{{ form_widget(registrationForm.zone,{'attr':{'class':'form-control input-md'}})
									}}
								</div>

								<div class="form-group mb-3 tg-inputwithicon">
									<label class="control-label">veuillez préciser votre spécialité</label>

									{{ form_widget(registrationForm.service,{'attr':{'class':'form-control input-md'}})
									}}

								</div>
								{# <div class="form-group mb-3">
										<label class="control-label">Estimation de la préstation</label>
										<input class="form-control input-md" name="price" placeholder="Définir un prix approximatif" type="text">
										<div class="tg-checkbox mt-3">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="tg-priceoncall">
												<label class="custom-control-label" for="tg-priceoncall">Prix ​​sur
																																																																																																																																																																								appel</label>
											</div>
										</div>
									</div>
									<div class="form-group md-3">
										<section id="editor">
											<div id="summernote"></div>
										</section>
									</div> #}
								<label class="tg-fileuploadlabel couleurtextefile" for="tg-photogallery">

									VEUILLEZ AJOUTER UNE PHOTO DE PROFIL</span>

									{{ form_widget(registrationForm.imageFile,{'attr':{'class':'form-control input-md'}})
									}}

									<input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
								</label>
								<label class="tg-fileuploadlabel couleurtextefile" for="tg-photogallery">
									VEUILLEZ AJOUTER CARTE D'IDENTITE (recto)

									</span>

									{{ form_widget(registrationForm.rectoFile,{'attr':{'class':'form-control input-md'}})
									}}

									<input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
								</label>
								<label class="tg-fileuploadlabel couleurtextefile" for="tg-photogallery">
									VEUILLEZ AJOUTER CARTE D'IDENTITE (verso)

									</span>

									{{ form_widget(registrationForm.versoFile,{'attr':{'class':'form-control input-md'}})
									}}

									<input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
								</label>
								<p class="notefichier">Note: La Taille maximale des fichiers ne doit pas depasser : 500
									Ko</p>
								<div class="custom-control custom-checkbox">
									{{ form_widget(registrationForm.agreeTerms) }}J'ai lu et j'accepte les
									<a href="{{path('condition')}}">
										<span class="colored">conditions générales d'utilisation</span>
									</a>

									{% apply inline_css %}
									<style>
										.colored {
											color: #03A9F4
										}

										.colored-button {
											background: #2E3192;
											color: white
										}
									</style>
									&amp;
									<a href="{{path('condition')}}">
										<span class="colored">

											les règles de confidentialité</span>
										{% endapply %}
									</a>

								</div>
								<button class="btn colored-button form-control" type="submit">Valider</button>

							</div>
						</div>
					</div>

					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
</section><!-- Content section End -->{% endblock %}