{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumb-wrapper">
					<h2 class="page-title">Rejoignez-nous</h2>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- Page Header End -->

<!-- Content section Start -->
<section id="content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 ecartemmarge">
				<div class="page-login-form box">
					<h3>
						Inscription
					</h3>
					{% for flashError in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flashError }}</div>
					{% endfor %}

					{{ form_start(registrationForm,{'attr':{'role':'form','class':'login-form'}}) }}
					{{ form_errors(registrationForm)}}
			
					<div class="form-group">
						<div class="input-icon">
							<i class="icon fas fa-user"></i>
							{{ form_widget(registrationForm.prenom,{'attr':{'class':'form-control','placeholder':'Prénom'}})
							}}

						</div>
					</div>
<div class="form-group">
	<div class="input-icon">
		<i class="icon fas fa-user"></i>
		{{ form_widget(registrationForm.nom,{'attr':{'class':'form-control','placeholder':'Nom'}})
									}}
	</div>
</div>

					<div class="form-group">
						<div class="input-icon">
							<i class="fas fa-map-marker-alt"></i>

							{{ form_widget(registrationForm.zone,{'attr':{'class':'form-control','placeholder':'Zone'}})
							}}

						</div>
					</div>
					<div class="form-group">
						<div class="input-icon">

							<i class="fas fa-phone"></i>

							{{ form_widget(registrationForm.telephone,{'attr':{'class':'form-control','placeholder':'Téléphone'}})
							}}

						</div>
					</div>
					<div class="form-group">
						<div class="input-icon">
							<i class="icon fas fa-envelope"></i>
							{{ form_widget(registrationForm.email,{'attr':{'class':'form-control','placeholder':'Email'}})
							}}
						</div>
							<span class="form_error">{{ form_errors(registrationForm.email)}}</span>
					</div>
				{# 	<div class="form-group">
						<div class="input-icon">
							{{ form_widget(registrationForm.dateOfBirth,{'attr':{'class':'form-control','placeholder':'Profil'}})
							}}
						</div>
					</div> #}
					<div class="form-group">
						<div class="input-icon">
							<i class="icon fas fa-unlock-alt"></i>
							{{ form_widget(registrationForm.plainPassword.first,{'attr':{'class':'form-control','placeholder':'Mot de passe'}})
							}}
						</div>
							<span class="form_error">{{ form_errors(registrationForm.plainPassword.first)}}</span>
					</div>
					<div class="form-group">
						<div class="input-icon">
							<i class="icon fas fa-unlock-alt"></i>
							{{ form_widget(registrationForm.plainPassword.second,{'attr':{'class':'form-control','placeholder':'Retaper le mot de passe'}})
							}}

						</div>
					</div>
					<div >
						<input  style="margin-top:5px" type="checkbox" id="remember" name="rememberme"  style="float: left;"
							required>

						<label style="margin-left:5px;font-weight:bold;color:lightgrey" for="remember">En créant un compte, vous acceptez
							<a href="{{path('condition')}}">nos termes</a>
							&
							<a href="{{path('condition')}}">Conditions</a></label>

					</div>
					<button type="submit" class="btn btn-common log-btn">S'inscrire</button>

					{{ form_end(registrationForm) }}
					<ul class="form-links">
						<li class="float-left">
							<a href="{{ path('app_login') }}">Se connecter ?</a>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Content section End -->

{% endblock %}