{% extends 'base.html.twig' %}

{% block title %}Service index
{% endblock %}

{% block body %}

	<!-- Search wrapper Start -->
	<div id="search-row-wrapper">
		<div class="container">
			<div
				class="search-inner">
				<!-- Start Search box -->
				{% block rechercheindex %}
					{{ render(controller('App\\Controller\\DefaultController::rechercheindex')) }}
				{% endblock %}
				<!-- End Search box -->
			</div>
		</div>
	</div>
	<!-- Search wrapper End -->

	<!-- Main container Start -->
	<div class="main-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
					<aside>
						<div class="inner-box">
							<div class="categories">
								<div class="widget-title">
									<i class="fas fa-align-justify"></i>
									<h4>All Categories</h4>
								</div>
								<div class="categories-list">
									<ul>
										{% for service in services %}
											<li>
												<a href="{{ path('service_show', {'id': service.id}) }}">
													<i class="fas fa-desktop"></i>
													{{ service.name }}
													<span class="category-counter">({{ service.prestations | length }})</span>
												</a>
											</li>
										{% endfor %}

									</ul>
								</div>
							</div>
						</div>

						<div class="inner-box">
							<div class="widget-title">
								<h4>Premium Ads</h4>
							</div>
							<div class="advimg">
								<ul class="featured-list">
									<li>
										<img alt="" src="assets/img/featured/img1.jpg">
										<div class="hover">
											<a href="#">
												<span>$49</span>
											</a>
										</div>
									</li>
									<li>
										<img alt="" src="assets/img/featured/img2.jpg">
										<div class="hover">
											<a href="#">
												<span>$49</span>
											</a>
										</div>
									</li>
									<li>
										<img alt="" src="assets/img/featured/img3.jpg">
										<div class="hover">
											<a href="#">
												<span>$49</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="inner-box">
							<div class="widget-title">
								<h4>Publicité</h4>
							</div>
							<img src="assets/img/img1.jpg" alt="">
						</div>
					</aside>
				</div>

				<div
					class="col-lg-9 col-md-12 col-xs-12 page-content">
					<!-- Product filter Start -->
					<div class="product-filter">
						<div class="grid-list-count">
							<a class="list switchToGrid" href="#">
								<i class="fas fa-list"></i>
							</a>
							<a class="grid switchToList" href="#">
								<i class="fas fa-th-large"></i>
							</a>
						</div>
						<div class="short-name">
							<span>Trier par</span>
							<form class="name-ordering" method="post">
								<label>
									<select name="order" class="orderby">
										<option selected="selected" value="menu-order">Short by</option>
										<option value="popularity">Price: Low to High</option>
										<option value="popularity">Price: High to Low</option>
									</select>
								</label>
							</form>
						</div>
						<div class="Show-item">
							<span>Afficer</span>
							<form class="woocommerce-ordering" method="post">
								<label>
									<select name="order" class="orderby">
										<option selected="selected" value="menu-order">49 items</option>
										<option value="popularity">popularity</option>
										<option value="popularity">Average ration</option>
										<option value="popularity">newness</option>
										<option value="popularity">price</option>
									</select>
								</label>
							</form>
						</div>
					</div>
					<!-- Product filter End -->

					<!-- Adds wrapper Start -->
					<div class="adds-wrapper">
						{% for service in services %}
							{% for prestation in service.prestations %}
								<div class="item-list">
									<div class="row">
										<div class="col-sm-2 no-padding photobox">
											<div class="add-image">
												<a href="{{ path('prestation_show', {'id': prestation.id}) }}">
													{% for image in prestation.images %}
														{% if image.getImageDeGarde == true %}
															<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="">
														{% endif %}
													{% endfor %}
												</a>
												<span class="photo-count">
													<i class="fas fa-camera"></i>2</span>
											</div>
										</div>
										<div class="col-sm-7 add-desc-box">
											<div class="add-details">
												<h5 class="add-title">
													<a href="{{ path('prestation_show', {'id': prestation.id}) }}">{{prestation.titre}}</a>
												</h5>
												<div class="info">
											
													<span class="date">
														<i class="fas fa-clock"></i>
														{{prestation.datePub |date("l d F - H:i")}}
													</span>
													-
													<span class="category">{{prestation.service.name}}</span>
													-
													<span class="item-location">
														<i class="fas fa-map-marker"></i>
														{{prestation.localite}}
													</span>
												</div>
												<div class="item_desc">
													<a href="{{ path('prestation_show', {'id': prestation.id}) }}">{{prestation.description}}</a>
												</div>
											</div>
										</div>
										<div class="col-sm-3 float-right  price-box">
											<h2 class="item-price">
												{{prestation.price}}
												MRU</h2>
											<a class="btn btn-danger btn-sm">
												<i class="fas fa-certificate"></i>
												<span>Top Ads</span>
											</a>
											<a class="btn btn-common btn-sm">
												<i class="fas fa-eye"></i>
												<span>{{prestation.click}}</span>
											</a>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endfor %}
					</div>
					<!-- Adds wrapper End -->

					<div
						class="col-12">
						<!-- Start Pagination -->
						<div class="pagination-bar">
							<nav>
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link active" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">4</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">
											...</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- End Pagination -->

						<div class="post-promo text-center">
							<h2>
								Do you get anything for sell ?
							</h2>
							<h5>Sell your products online FOR FREE. It's easier than you think !</h5>
							<a href="post-ads.html" class="btn btn-post btn-danger">Post a Free Ad
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main container End -->
{% endblock %}
