{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe
{% endblock %}

{% block body %}


	<!-- Page Header Start -->
	<div class="page-header" style="background: url({{asset('assets/img/banner1.jpg')}});">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-wrapper">
						<h2 class="page-title">Réinitialisez votre mot de passe</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Content section Start -->
	<section id="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 col-xs-12">
					<div class="page-login-form box">
						<h3>
							Entrez votre adresse e-mail
						</h3>
						{% for flashError in app.flashes('reset_password_error') %}
							<div class="alert alert-danger" role="alert">{{ flashError }}</div>
						{% endfor %}
						{{ form_start(requestForm) }}
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-user"></i>
								{{ form_widget(requestForm.email,{'attr':{'id':'sender-email','class':'form-control', 'placeholder':'Email'}}) }}
							</div>
						</div>
						<button class="btn btn-common log-btn">Envoyer</button>
						{{ form_end(requestForm) }}
						<ul class="form-links">
							<li class="float-left">
								<a href="{{path('app_inscription')}}">Vous n'avez pas de compte?</a>
							</li>
							<li class="float-right">
								<a href="{{path('app_login')}}">Se connecter</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Content section End -->
{% endblock %}
