{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe

{% endblock %}

{% block body %}
<h1>Réinitialisez votre mot de passe</h1>

{{ form_start(resetForm) }}
{{ form_row(resetForm.plainPassword) }}
<button class="btn btn-primary">Réinitialisez votre mot de passe</button>

{{ form_end(resetForm) }}
{% endblock %}