html[dir="rtl"] .treeview .treeview-icon {
  left: 1px;
  right: unset;
  transform: rotate(180deg);
}

html[dir="rtl"] .treeview.menu-open .treeview-icon {
  transform: rotate(90deg);
}

html[dir="rtl"] .form-action-search input[type=search].form-control {
  background-position: right 10px top 8px;
}

html[dir="rtl"] .pagination .page-link:first-child i,
html[dir="rtl"] .pagination .page-link:last-child i {
  transform: rotate(180deg);
}

html[dir="rtl"] .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

html[dir="rtl"] .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 992px) {
  html[dir="rtl"].easyadmin-sidebar-width-compact .sidebar-menu > li:hover > .treeview-menu,
  html[dir="rtl"].easyadmin-sidebar-width-compact .sidebar-menu > li:hover > a > span {
    left: unset;
    right: 37px;
    width: calc(var(--sidebar-width) - 37px);
  }
}
/*# sourceMappingURL=app-custom-rtl.css.map */