@media (min-width: 768px) and (max-width: 1024px) {
  span.hidden-sm.hidden-xs {
    display: none;
  }
  .title-2 {
    font-size: 15px;
  }
  .section {
    padding: 30px 0;
  }
  .wrapper {
    padding: 30px 0;
  }
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 26px !important;
    margin-bottom: 10px !important;
  }
  #carousel-area .carousel-item .carousel-caption p {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  #carousel-area .carousel-item .carousel-caption .btn {
    margin: 10px 0px !important;
    padding: 7px 18px;
    font-size: 14px;
  }
  #carousel-area .carousel-control {
    font-size: 14px;
  }
  #carousel-area .carousel-indicators {
    bottom: -5px;
  }
  .search-bar .btn {
    padding: 0;
    margin: 0;
    position: relative;
  }
  .search-bar .search-inner {
    border-radius: 4px;
  }
  .search-bar .btn-common {
    width: 162px;
  }
  #new-products .owl-buttons {
    top: -200px;
  }
  #new-products .owl-controls .owl-buttons div.owl-prev {
    margin-left: 0;
  }
  #new-products .owl-controls .owl-buttons div.owl-next {
    margin-right: 0;
  }
  .counting {
    margin-bottom: 30px;
  }
  .table-responsive > .table-bordered {
    border: 1px solid #eee;
  }
  .page-sidebar {
    padding: 0px;
  }
  .page-sidebar .inner-box {
    padding: 5px;
  }
  .inner-box {
    padding: 15px;
  }
  .box {
    margin-bottom: 30px;
  }
  .widget-title h4 {
    font-size: 14px;
  }
  .footer-Content .widget {
    margin-top: 20px;
  }
  h3.block-title {
    font-size: 18px;
    padding-bottom: 0;
  }
  .item-list.make-grid {
    width: 46%;
  }
  .page-sideabr {
    padding: 0px;
  }
  .collapset-title {
    font-size: 12px;
  }
  .sell-your-item {
    padding: 0px 15px;
  }
  .subscribe .form-control {
    width: 82%;
  }
  .app {
    padding: 40px 0;
  }
  .app .app-inner h2 {
    font-size: 24px;
  }
  #new-products .owl-controls {
    display: none !important;
  }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 200px !important;
  }
  .styled-select {
    margin-bottom: 10px;
  }
  .tbtn {
    display: none;
  }
  .search-bar .btn {
    right: -5px;
  }
  .search-bar .form-group {
    width: 22.33%;
  }
}

@media (max-width: 768px) {
  .search-bar .btn-common {
    width: 100%;
    font-size: 13px;
    right: 0px;
  }
  .search-bar .form-group {
    width: 100%;
    border-left: none;
    padding: 0 0 0 15px;
  }
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #carousel-area .carousel-item .carousel-caption p {
    font-size: 14px;
    line-height: 22px;
  }
  #carousel-area .carousel-item .carousel-caption .btn {
    margin: 5px 0px;
    padding: 7px 18px;
    font-size: 14px;
  }
  #carousel-area .carousel-control {
    font-size: 14px;
  }
  #carousel-area .carousel-indicators {
    bottom: -5px;
  }
  .search-bar .input-group-addon {
    padding-bottom: 7px !important;
  }
  .search-bar .form-group {
    margin: 0;
  }
  .section-intro .main-text {
    padding: 90px 15px 290px;
  }
  .section-intro .main-text .intro-title {
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  .tbtn {
    display: none;
  }
  .search-bar .form-group {
    width: 100%;
    border-left: none;
    padding: 0 0 0 15px;
  }
  .section-intro .main-text {
    padding: 75px 15px 280px;
  }
  .search-bar .input-group-addon {
    padding-bottom: 7px !important;
  }
  .search-bar .form-group {
    margin: 0;
  }
  #hero-area .contents {
    padding: 80px 0 270px;
  }
  .sell-your-item {
    padding: 12px 15px;
  }
  .section {
    padding: 30px 0;
  }
  .wrapper {
    padding: 30px 0;
  }
  .section-intro .main-text .intro-title {
    font-size: 36px;
  }
  .navbar-nav {
    margin: 0px 15px 30px;
  }
  .main-navigation .navbar-nav > li.postadd {
    padding: 10px 0;
    border-left: none;
  }
  #new-products .owl-buttons {
    top: -190px;
  }
  #new-products .owl-controls .owl-buttons div.owl-prev {
    margin-left: 0;
  }
  #new-products .owl-controls .owl-buttons div.owl-next {
    margin-right: 0;
  }
  .counting {
    margin-bottom: 30px;
  }
  .bottom-social-icons {
    float: left !important;
    width: 100%;
    text-align: center;
  }
  .footer-Content .widget {
    margin-top: 20px;
  }
  h3.block-title {
    font-size: 18px;
    padding-bottom: 0;
  }
  #copyright .site-info {
    float: left !important;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  #copyright .site-info p {
    line-height: 26px;
  }
  .post-title {
    font-size: 18px;
  }
  .table-responsive > .table-bordered {
    border: 1px solid #eee;
  }
  .item-list.make-grid {
    width: 50%;
  }
  .f-category {
    width: 50%;
  }
  .mb15 .btn-danger {
    display: none;
  }
  .mb15 .input-group .input-group-btn {
    padding: 0 6px;
  }
  #new-products .owl-controls {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .tbtn {
    display: none;
  }
  .page-header .page-title {
    font-size: 18px;
  }
  #hero-area .contents {
    padding: 80px 0 240px;
  }
  #hero-area .contents .head-title {
    font-size: 30px;
    line-height: 40px;
  }
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #carousel-area .carousel-item .carousel-caption p {
    display: none;
  }
  #carousel-area .carousel-item .carousel-caption .btn {
    margin: 5px 0px;
    padding: 7px 18px;
    font-size: 14px;
  }
  #carousel-area .carousel-control {
    font-size: 14px;
  }
  #carousel-area .carousel-indicators {
    bottom: -5px;
  }
  .search-bar .form-group {
    width: 100%;
    border-left: none;
    padding: 0 0 0 15px;
  }
  .search-bar .input-group-addon {
    padding-bottom: 7px !important;
  }
  .search-bar .form-group {
    margin: 0;
  }
  .section {
    padding: 30px 0;
  }
  .wrapper {
    padding: 30px 0;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #eee;
  }
  .navbar-nav {
    margin: 0px 15px 30px;
  }
  .main-navigation .navbar-nav > li.postadd {
    padding: 10px 0;
    border-left: none;
  }
  .section-intro .main-text {
    padding: 70px 0px 250px;
  }
  .search-bar .btn-common {
    width: 100%;
    border-radius: 0;
  }
  .section-intro .main-text .intro-title {
    font-size: 20px;
  }
  .search-bar .form-group {
    padding: 0 0 0 10px;
  }
  .search-bar .btn {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
  }
  .search-bar .form-group .form-control, .search-bar .form-group .tg-select select {
    height: 50px;
  }
  .section-title {
    font-size: 15px;
  }
  .service {
    padding: 30px 0;
  }
  #new-products .owl-buttons {
    top: -230px;
  }
  #new-products .owl-controls .owl-buttons div.owl-prev {
    margin-left: 0;
  }
  #new-products .owl-controls .owl-buttons div.owl-next {
    margin-right: 0;
  }
  .features {
    padding: 10px 0;
  }
  .owl-nav {
    top: -180px;
  }
  .owl-nav div.owl-prev {
    margin-left: -12px;
  }
  .owl-nav div.owl-next {
    margin-right: -12px;
  }
  .counting {
    margin-bottom: 30px;
  }
  .subscribe .form-control {
    width: 48%;
  }
  .bottom-social-icons {
    float: left !important;
    width: 100%;
    text-align: center;
  }
  .footer-Content .widget {
    margin-top: 20px;
  }
  h3.block-title {
    font-size: 18px;
    padding-bottom: 0;
  }
  #copyright .site-info {
    float: left !important;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  #copyright .site-info p {
    line-height: 26px;
  }
  .box-title h2 {
    font-size: 14px;
  }
  .title-2 {
    font-size: 14px;
  }
  .sell-your-item {
    padding: 12px 15px;
  }
  .blog-post .post-content {
    padding: 15px;
  }
  .blog-post .post-content .post-title {
    font-size: 16px;
    line-height: 24px;
  }
  .blog-post .post-content .meta .meta-part {
    font-size: 11px;
    border: none;
    padding-right: 2px;
    margin-right: 3px;
  }
  .blog-post .post-content .meta .meta-part i {
    margin-right: 0;
  }
  .inner-box {
    padding: 15px;
  }
  .author .author-img {
    float: none;
  }
  .author .author-text h3 {
    margin-bottom: 0;
    padding: 10px 0;
  }
  .author .social-link {
    float: left;
    width: 100%;
    margin-bottom: 12px;
  }
  #comments .comments-list li ul {
    padding-left: 0;
  }
  .posting .postin-title {
    font-size: 15px;
  }
  .posting p {
    margin-left: 0px;
  }
  .table-responsive > .table-bordered {
    border: 1px solid #eee;
  }
  .table-action {
    padding: 10px;
  }
  .table-search {
    display: none;
  }
  .add-desc-box {
    padding: 15px 0;
  }
  .adds-wrapper .add-title {
    font-size: 13px;
  }
  .adds-wrapper .add-type {
    display: none;
  }
  .item-list.make-grid {
    width: 100%;
  }
  .product-filter .Show-item {
    display: none;
  }
  .item-list .price-box {
    text-align: left;
  }
  .fallback-content h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .owl-theme .owl-controls .item-link {
    width: 70px;
    height: 50px;
  }
  .product-filter .short-name {
    display: none;
  }
  .ads-details-wrapper h2 {
    font-size: 15px;
    line-height: 22px;
  }
  #comments .comments-list .media .info-body .name {
    font-size: 12px;
  }
  #comments .comments-list .media .info-body .comment-date {
    font-size: 10px;
  }
  .app {
    padding: 40px 0;
  }
  .app .app-inner h2 {
    font-size: 22px;
  }
  .app .app-inner .btn {
    margin: 10px;
  }
  .mainHeading .section-title {
    font-size: 20px;
  }
  .mb15 .form-control, .mb15 .btn-danger {
    display: none;
  }
  .mb15 .input-group .input-group-btn {
    padding: 0 6px;
  }
  #new-products .owl-controls {
    display: none !important;
  }
  .box {
    margin-bottom: 30px;
  }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 200px !important;
  }
  .post-promo h2 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=responsive.css.map */