{% extends 'base.html.twig' %}

{% block title %}Edit Favorits{% endblock %}

{% block body %}
    <h1>Edit Favorits</h1>

    {{ include('favorits/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('favorits_index') }}">back to list</a>

    {{ include('favorits/_delete_form.html.twig') }}
{% endblock %}
