{% extends 'base.html.twig' %}

{% block title %}New Favorits{% endblock %}

{% block body %}
    <h1>Create new Favoris</h1>

    {{ include('favorits/_form.html.twig') }}

    <a href="{{ path('favorits_index') }}">back to list</a>
{% endblock %}
