{% extends 'base.html.twig' %}

{% block title %}Favorits{% endblock %}

{% block body %}
    <h1>Favoris</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ favorit.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('favorits_index') }}">back to list</a>

    <a href="{{ path('favorits_edit', {'id': favorit.id}) }}">edit</a>

    {{ include('favorits/_delete_form.html.twig') }}
{% endblock %}
