{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Rubrique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">Retour à la liste</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">Editer</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
