{% extends 'base.html.twig' %}

{% block title %}Mes annonces
{% endblock %}

{% block body %}
	<!-- Page Header Start -->
	<div class="page-header" style="background: url(assets/img/banner1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-wrapper">
						<h2 class="page-title">Annonce</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Start Content -->
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-lg-4 page-sidebar">
					<aside>
						<div class="sidebar-box">
							<div class="user">
								<div class="usercontent">
<h3>{{ app.user.nom }}
	{{app.user.prenom}}</h3>
<h4>{{app.user.profil}}</h4>

								</div>
								<figure>
									<a href="#"><img class="-img-fluid" src="assets/img/author/img1.jpg" alt=""></a>
								</figure>
							</div>
							<nav class="navdashboard">
								<ul>
									<li>
										<a href="{{ path('compte') }}">
											<i class="fas fa-home"></i>
											<span>Mes Informations</span>
										</a>
									</li>
									{% if app.user.profil != 'Client'%}
										<li>
											<a class="active" href="{{ path('annonces') }}">
												<i class="fas fa-credit-card"></i>
												<span>Mes Annonces</span>
											</a>
										</li>
									{% endif %}
									<li>
										<a href="{{ path('favorit') }}">
											<i class="fas fa-heart"></i>
											<span>Mes Favoris
											</span>
										</a>
									</li>
									<li>
										<a href="{{ path('archive') }}">
											<i class="fas fa-folder"></i>
											<span>Mes Archives
											</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="widget">
				
							<div class="inner-box">
								<div class="add-box">
									<img class="img-fluid" src="assets/img/img1.jpg" alt="">
								</div>
							</div>
						</div>
					</aside>
				</div>

				<div class="col-lg-8 col-md-12 col-xs-12 page-content">
					<div class="inner-box">
						<h2 class="title-2">
							<i class="fas fa-credit-card"></i>
							My ADS</h2>
						<div class="table-responsive">
							<div class="table-action">
								<div class="checkbox">
									<label for="checkAll">
										<input id="checkAll" type="checkbox">
										Selectionner: Tout |
										<a href="#" class="btn btn-xs btn-danger">Suppimer
											<i class="fas fa-times"></i>
										</a>
									</label>
								</div>
								<div class="table-search float-right">
									<div class="form-group row">
										<label class="mr-2 col-xs-5 control-label text-right">Chercher
											<br>
											<a title="clear filter" class="clear-filter" href="#clear">[clear]</a>
										</label>
										<div class="mr-3 col-xs-7 searchpan">
											<input class="form-control" id="filter" type="text">
										</div>
									</div>
								</div>
							</div>
							<table class="table table-striped table-bordered add-manage-table">
                  <thead>
                    <tr>
                      <th data-type="numeric"></th>
                      <th>Image</th>
                      <th>Prestation</th>
                      <th>Frais de déplacement</th>
                      <th>Option</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for souscription in souscriptions %}
                  {% if souscription.etat and souscription.etat != 'Terminer' and souscription.prestation.service == app.user.service  %}
                    <tr>
                      <td class="add-img-selector col-xs-12">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                          </label>
                        </div>
                      </td>
                      <td class="add-img-td col-xs-12">
                                                <a href="{{ path('prestation_show', {'id': souscription.prestation.id}) }}">
													{% for image in souscription.prestation.images %}
														{% if image.getImageDeGarde == true %}
															<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="">
														{% endif %}
													{% endfor %}
												</a>
                      </td>
                      <td class="ads-details-td col-xs-12">
                        <h4><a href="{{ path('prestation_show', {'id': souscription.prestation.id}) }}">{{souscription.prestation.titre}}</a></h4>
                        <p> <strong> Date de souscription </strong>:
                        {{ souscription.dateDemande | date('d/m/Y')}} </p>
                        <p> <strong>Vues </strong>: {% if souscription.prestation.click %}{{ souscription.prestation.click }} {% else %} 0 {% endif %} <strong>Localite:</strong> {{ souscription.prestation.localite }} </p>
                      </td>
                      <td class="price-td col-xs-12">
                        <strong> {{ souscription.prestation.price }} MRU</strong>
                      </td>
                      <td class="action-td col-xs-12">
                        {% if souscription.etat == 'Ouvert' %}
                        <p> <a href="{{ path('engager', {'id': souscription.id}) }}" class="btn btn-info btn-xs"> <i class="fas fa-recycle"></i> S'engager </a></p>
                        <p> <a class="btn btn-info btn-xs"> <i class="fas fa-recycle"></i> Se desister </a></p>
                        {% endif %}
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Content -->
{% endblock %}
