{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}


		<!-- Page Header Start -->
		<div class="page-header" style="background: url({{asset('assets/img/banner1.jpg')}});">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="breadcrumb-wrapper">
							<h2 class="page-title">A propos</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Main container Start -->
		<div class="main-container">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-xs-12">
						<img src="{{asset('assets/img/about.jpg')}}" alt="">
						<div class="ad-detail-content">
<p>ON S'OCCUPE DE TOUT</p>

							<blockquote>
<p>Notre philosophie est simple: apporter une réponse aux préoccupations de nos clients. Nous nous assurons de la fiabilité de nos prestataires et vérifions consciencieusement leur sérieux.</p>

							</blockquote>
						
						</div>
					</div>
				
				</div>
			</div>
		</div>
		<!-- Main container End -->

		
{% endblock %}