{% extends 'base.html.twig' %}

{% block title %}Lacher un avis
{% endblock %}

{% block body %}
    <div class="page-header" style="background: url({{asset('assets/img/banner1.jpg')}});">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <h1 class="page-title">Prestation Détails</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">        
          <div class="col-lg-8 col-md-12 col-xs-12">
            <!-- Start Post -->
            <div class="blog-post single-post">
              <!-- Post thumb -->
              <div class="post-thumb">
                <a href="#"><img src="{{asset('assets/img/blog/img-1.jpg')}}" alt=""></a>
                <div class="hover-wrap">
                </div>
              </div>
              <!-- End Post post-thumb -->

              <!-- Post Content End -->
              <div class="post-content">                     
                <h4 class="post-title"><a href="#">{{prestation.prestation.titre}}</a></h4>
                <div class="meta">
                  {# <span class="meta-part"><a href="#"><i class="fas fa-user"></i> Will Smith</a></span>
                  <span class="meta-part"><a href="#"><i class="fas fa-clock"></i> 13 June 2020</a></span> #}
                  <span class="meta-part"><a href="#"><i class="fas fa-comment"></i> Commentaires 0</a></span>                  
                </div>
                <p>{{prestation.description}}</p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aliquam facere aliquid atque accusamus nostrum mollitia beatae quasi vel dolorem, autem nisi! Eius facere magni culpa commodi voluptatem, ducimus dolorum. consectetur adipisicing elit. Hic repellat rerum cupiditate unde iure fuga quisquam voluptas quae voluptatum, perferendis eum, doloremque.</p>
                <br>
                <blockquote>
                  <span class="quote-text">
                    {{prestation.description}}
                    </span>
                </blockquote>
                <div class="row">
                  <div class="col-sm-6">
                    </div>
                  <div class="col-sm-6">
                  </div>
                </div>
                </div>
              <!-- Post Content End -->
            </div>
            <!-- End Post -->

            <!-- Author section start -->

            <!-- Author section end -->

            <!-- Start Comment Area -->
            <div id="comments">
              <div class="inner-box">
                <h3>Comments (3)</h3>
                
                <!-- Start Respond Form -->
                <div id="respond">
                  <h2 class="respond-title">Leave A Message</h2>
                  {{form_start(form)}}
                  
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                        {{form_widget(form.commentaire,{'attr':{'id':'comment', 'class':'form-control','cols':'45','rows':'8', 'placeholder':'Message...'}})}}
                          </div>
                        {{form_widget(form.note,{'attr':{'class':'rating'}})}}
                        <button type="submit" id="submit" class="btn btn-common">Poster Commentaire</button>
                      </div>
                    </div>
                  {{form_end(form)}}
                </div>
                <!-- End Respond Form -->
              </div>
            </div>
            <!-- End Comment Area -->
          </div>

          <!--Sidebar-->
          <aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 right-sidebar">
            <!-- Categories Widget -->
            <div class="widget">
              <div class="categories">
                <div class="widget-title">
                  <i class="fas fa-align-justify"></i>
                  <h4>All Categories</h4>
                </div>
                <div class="categories-list">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fas fa-utensils"></i>
                        Hotel & Travels <span class="category-counter">(5)</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fas fa-wrench"></i>
                        Services <span class="category-counter">(8)</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-github"></i>
                        Pets <span class="category-counter">(2)</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fas fa-coffee"></i>
                        Restaurants <span class="category-counter">(3)</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fas fa-home"></i>
                        Real Estate <span class="category-counter">(4)</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-black-tie"></i>
                        Jobs <span class="category-counter">(5)</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fas fa-desktop"></i>
                        Electronics <span class="category-counter">(9)</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Popular Posts widget -->
            <div class="widget widget-popular-posts">
              <div class="widget-title">
                <h4>Recent Posts</h4>
              </div>
              <ul class="posts-list">
                <li>
                  <div class="widget-thumb">
                    <a href="#"><img src="{{asset('assets/img/post/thumb1.jpg')}}" alt="" /></a>
                  </div>
                  <div class="widget-content">
                    <a href="#">Goodness Lemur Save Much Alas crud dear</a>
                    <span><i class="icon-calendar"></i>09 October, 2020</span>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="widget-thumb">
                    <a href="#"><img src="assets/img/post/thumb2.jpg" alt="" /></a>
                  </div>
                  <div class="widget-content">
                    <a href="#">However Much Enor Mous Merrily Jeez</a>
                    <span><i class="icon-calendar"></i>25 October, 2020</span>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="widget-thumb">
                    <a href="#"><img src="assets/img/post/thumb3.jpg" alt="" /></a>
                  </div>
                  <div class="widget-content">
                    <a href="#">Flinched More Mam Moth This Pompously</a>
                    <span><i class="icon-calendar"></i>10 October, 2020</span>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>

            <!-- Tag Media -->
            <div class="widget tag">
              <div class="widget-title">
                <h4>Popular Tags</h4>
              </div>
              <a href="#"> Fashion</a>
              <a href="#"> Clothing</a>
              <a href="#"> Trends</a> 
              <a href="#"> Shoes</a>                                 
              <a href="#"> Tops</a>
              <a href="#"> Sell Off</a>
              <a href="#"> Women Fashion</a>
            </div> 

            <div class="inner-box">
              <div class="widget-title">
                <h4>Publicité</h4>
              </div>
              <img src="assets/img/img1.jpg" alt="">
            </div>

          </aside>
          <!--End sidebar-->

        </div>
      </div>
    </div>
    <!-- End Content -->
{% endblock %}
