{% extends 'base.html.twig' %}

{% block title %}Accomplissement
{% endblock %}

{% block body %}


	<!-- Page Header Start -->
	<div class="page-header" style="background: url(assets/img/banner1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title">Accomplissements</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Start Content -->
	<div id="content">
		<div class="container">
			<div
				class="row">

				<!--Sidebar-->
        {% for realisation in realisations %}
				<aside
					id="sidebar" class="bloc-left">
					<!-- Popular Posts widget -->
					<div style="display: inline-block;float: left;width:68%;" class="bloc-left">
						<div
							class="blog-post">
							<!-- Post thumb -->
							<div class="post-thumb">
								<a href="#"><img style="width: 100%;" src="{{ vich_uploader_asset(realisation, 'imageFile') }}" alt=""></a>
								<div class="hover-wrap"></div>
							</div>
							<div class="post-content">
								<div class="meta">
									<span class="meta-part">
										<a href="#">
											<i class="fas fa-user"></i>
											{{ realisation.prestataire.nom }}</a>
									</span>
									<span class="meta-part">
										<a href="#">
											<i class="fas fa-clock"></i>
											13 June 2020</a>
									</span>
									<span class="meta-part">
										<a href="#">
											<i class="fas fa-comment"></i>
											Comments 0</a>
									</span>
								</div>
								<p>{{ realisation.commentaire }}</p>
				
							</div>
							<!-- Post Content -->
						</div>
					</div>
					<div style="display: inline-block;float: right;width: 30%;min-height: 94%;" class="widget widget-popular-posts">
						<div class="widget-title">
							<h4>Autres réalisations</h4>
						</div>
						<ul class="posts-list">
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb1.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">Goodness Lemur Save Much Alas crud dear</a>
									<span>
										<i class="icon-calendar"></i>09 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb1.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">Goodness Lemur Save Much Alas crud dear</a>
									<span>
										<i class="icon-calendar"></i>09 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb2.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">However Much Enor Mous Merrily Jeez</a>
									<span>
										<i class="icon-calendar"></i>25 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb3.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">Flinched More Mam Moth This Pompously</a>
									<span>
										<i class="icon-calendar"></i>10 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
						</ul>
					</div>

				</aside>
        
				<div style="width: 100%;" class="blog-post quote-post">
					<div class="quote-wrap">
						<i class="fas fa-quote-left"></i>
						<blockquote class="text-center">
							Crafting visually stunning memorable experiences
							<br>
							for web and interfaces.
						</blockquote>
						<i class="fas fa-quote-right"></i>
					</div>
				</div>
        {% endfor %}
				<aside
					id="sidebar" class="bloc-left">
					<!-- Popular Posts widget -->
					<div style="display: inline-block;float:right;width:68%;" class="bloc-left">
						<div
							class="blog-post">
							<!-- Post thumb -->
							<div class="post-thumb">
								<a href="#"><img style="width: 100%;" src="assets/img/blog/blog1.jpg" alt=""></a>
								<div class="hover-wrap"></div>
							</div>
							<div class="post-content">
								<div class="meta">
									<span class="meta-part">
										<a href="#">
											<i class="fas fa-user"></i>
											Will Smith</a>
									</span>
									<span class="meta-part">
										<a href="#">
											<i class="fas fa-clock"></i>
											13 June 2020</a>
									</span>
									<span class="meta-part">
										<a href="#">
											<i class="fas fa-comment"></i>
											Comments 0</a>
									</span>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Class aptent taciti sociosqu ad litora torquent…</p>
							
							</div>
							<!-- Post Content -->
						</div>
					</div>
					<div style="
						            display:inline-block;
						            float:left;
						            width:30%;
						            min-height: 94%;" class="widget widget-popular-posts">
						<div class="widget-title">
							<h4>Autres réalisations</h4>
						</div>
						<ul class="posts-list">
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb1.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">Goodness Lemur Save Much Alas crud dear</a>
									<span>
										<i class="icon-calendar"></i>09 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb2.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">However Much Enor Mous Merrily Jeez</a>
									<span>
										<i class="icon-calendar"></i>25 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb3.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">Flinched More Mam Moth This Pompously</a>
									<span>
										<i class="icon-calendar"></i>10 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb1.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">Goodness Lemur Save Much Alas crud dear</a>
									<span>
										<i class="icon-calendar"></i>09 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
						</ul>
					</div>

				</aside>
				<div style="width: 100%;" class="blog-post quote-post">
					<div class="quote-wrap">
						<i class="fas fa-quote-left"></i>
						<blockquote class="text-center">
							Crafting visually stunning memorable experiences
							<br>
							for web and interfaces.
						</blockquote>
						<i class="fas fa-quote-right"></i>
					</div>
				</div>

				<aside
					id="sidebar" class="bloc-left">
					<!-- Popular Posts widget -->
					<div style="display: inline-block;float: left;width:68%;" class="bloc-left">
						<div
							class="blog-post">
							<!-- Post thumb -->
							<div class="post-thumb">
								<a href="#"><img style="width: 100%;" src="assets/img/blog/blog1.jpg" alt=""></a>
								<div class="hover-wrap"></div>
							</div>
							<div class="post-content">
								<div class="meta">
									<span class="meta-part">
										<a href="#">
											<i class="fas fa-user"></i>
											Will Smith</a>
									</span>
									<span class="meta-part">
										<a href="#">
											<i class="fas fa-clock"></i>
											13 June 2020</a>
									</span>
									<span class="meta-part">
										<a href="#">
											<i class="fas fa-comment"></i>
											Comments 0</a>
									</span>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Class aptent taciti sociosqu ad litora torquent…</p>
								
							</div>
							<!-- Post Content -->
						</div>
					</div>
					<div style="display: inline-block;float: right;width: 30%;min-height: 94%;" class="widget widget-popular-posts">
						<div class="widget-title">
							<h4>Autres réalisations</h4>
						</div>
						<ul class="posts-list">
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb1.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">Goodness Lemur Save Much Alas crud dear</a>
									<span>
										<i class="icon-calendar"></i>09 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb1.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">Goodness Lemur Save Much Alas crud dear</a>
									<span>
										<i class="icon-calendar"></i>09 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb2.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">However Much Enor Mous Merrily Jeez</a>
									<span>
										<i class="icon-calendar"></i>25 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-thumb">
									<a href="#"><img src="assets/img/post/thumb3.jpg" alt=""/></a>
								</div>
								<div class="widget-content">
									<a href="#">Flinched More Mam Moth This Pompously</a>
									<span>
										<i class="icon-calendar"></i>10 October, 2020</span>
								</div>
								<div class="clearfix"></div>
							</li>
						</ul>
					</div>

				</aside>
				<div
					class="blog-post video-post">
					<!-- Post thumb -->
					<div class="post-thumb">
						<div class="video-wrapper" style="padding-top: 50%;margin-bottom: 20px">
							<iframe id="fitvid0" src="https://player.vimeo.com/video/35494749?color=ffffff&title=0&byline=0&portrait=0" allowfullscreen=""></iframe>
						</div>
					</div>
					<!-- End Post post-thumb -->

					<!-- Post Content -->
					<div class="post-content">

						<div class="meta">
							<span class="meta-part">
								<a href="#">
									<i class="fas fa-user"></i>
									Will Smith</a>
							</span>
							<span class="meta-part">
								<a href="#">
									<i class="fas fa-clock"></i>
									13 June 2020</a>
							</span>
							<span class="meta-part">
								<a href="#">
									<i class="fas fa-comment"></i>
									Comments 0</a>
							</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Class aptent taciti sociosqu ad litora torquent…</p>
				
					</div>
					<!-- Post Content -->
				</div>

				<!--End sidebar-->


				<!-- Start Pagination -->
				<div style="width: 100%" class="pagination-bar">
					<nav style="float: right">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link active" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">Suivant</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- End Pagination -->


			</div>
		</div>
	</div>
	<!-- End Content -->

{% endblock %}
