{% extends 'base.html.twig' %}

{% block title %}Compte
{% endblock %}

{% block body %}
	    <!-- Page Header Start -->
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">Mon Compte</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-4 page-sidebar">
            <aside>
              <div class="sidebar-box">
                <div class="user">
                  <div class="usercontent">
                    <h3>{{ app.user.nom }} {{app.user.prenom}}</h3>
                    <h4>{{app.user.profil}}</h4>
                  </div>
                  
                </div>
                <nav class="navdashboard">
                  <ul>
                    <li>
                      <a class="active" href="{{ path('compte') }}">
                        <i class="fas fa-home"></i>
                        <span>Mes Informations</span>
                      </a>
                    </li>
                    {% if app.user.profil != 'Client'%}
                    <li>
                      <a href="{{ path('annonces') }}">
                        <i class="fas fa-credit-card"></i>
                        <span>Mes Annonces</span>
                      </a>
                    </li>
                    {% endif %}
                    <li>
                      <a href="{{ path('favorit') }}">
                        <i class="fas fa-heart"></i>
                        <span>Mes Favoris </span>
                      </a>
                    </li>
                    <li>
                      <a href="{{ path('commande') }}">
                        <i class="fas fa-folder"></i>
                        <span>Mes Commandes </span>
                      </a>
                    </li>
                    <li>
                      <a href="{{ path('archive') }}">
                        <i class="fas fa-folder"></i>
                        <span>Mes Archives </span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="widget">
                
                <div class="inner-box">
                  <div class="add-box">
                    <img class="img-fluid" src="assets/img/img1.jpg" alt="">
                  </div>
                </div>
              </div>
            </aside>
          </div>
          
          <div class="col-lg-8 col-md-12 col-xs-12 page-content">
            <div class="inner-box">
              <div class="welcome-msg">
                <div class="usearadmin">
                {% if app.user.profil == 'prestataire' %}
                  <img class="userimg" src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="">
                  {% endif %} 
                </div>
                <div class="user-content">
                  <h3 class="mb-1">Hello {{app.user.nom}} {{ app.user.prenom }} </h3>
<p class="small">Votre dernière connexion : 01-03-2020 12:40 AM [UK time (GMT + 6:00hrs)]</p>

                </div>
              </div>
              <form>
                <div class="row">
                  <div class="col-lg-12 ">
                    <div class="form-group">
                      <label>Nom</label>
                      <input type="text" name="name" class="form-control" placeholder="{{app.user.nom}}">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>Prénom</label>
                      <input type="text" name="title" class="form-control" placeholder="{{app.user.prenom}}">
                    </div>
                  </div>
                  <div class="col-lg-12 ">
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="text" name="phone" class="form-control" placeholder="{{app.user.telephone}}">
                    </div>
                  </div>
                  <div class="col-lg-12 ">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" name="email" class="form-control" placeholder="{{app.user.email}}">
                    </div>
                    <div class="col-lg-12 ">
                    <div class="form-group">
                      <label>Zone</label>
                      <input type="email" name="email" class="form-control" placeholder="{{app.user.zone}}">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="send-btn">
                      <button type="submit" class="btn btn-primary btn-lg">Modifier</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>  
      </div>      
    </div>
    <!-- End Content -->
{% endblock %}
