{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<!-- Page Header Start -->
	<div class="page-header" style="background: url(assets/img/banner1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-wrapper">
						<h2 class="page-title">Contactez nous</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Start Contact Us Section -->
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-xs-12">
					<h2 class="title-2">
						Nous attendons vos suggestions
					</h2>
					<!- a- Form -->
					{{ form_start(form,{'attr':{'class':'contact-form row', 'data-toggle':'validator' }}) }}
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										{{ form_widget(form.name,{'attr':{'class':'form-control', 'name':'name', 'placeholder':'Nom complet' }}) }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										{{ form_widget(form.email,{'attr':{'class':'form-control', name:'email'}}) }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										{{ form_widget(form.subject,{'attr':{'class':'form-control', name:'subject'}}) }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										{{ form_widget(form.message,{'attr':{'class':'form-control', name:'message', type:'textarea', row:'5'}}) }}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-common">Envoyer votre message</button>
							<div id="msgSubmit" class="h3 text-center hidden"></div>
							<div class="clearfix"></div>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12">
					<h2 class="title-2">
						Contact
					</h2>
					<div class="information">
						<div class="contact-datails">
							<div class="icon">
								<i class="fas fa-map-marker icon-radius"></i>
							</div>
							<div class="info">
								<h3>Adresse</h3>
								<span class="datail">
									Nouakchott, Mauritanie</span>
							</div>
						</div>
						<div class="contact-datails">
							<div class="icon">
								<i class="fas fa-phone icon-radius"></i>
							</div>
							<div class="info">
								<h3>Numéro</h3>
								<span class="detail">Tél:+222 27605393</span>
					</span>
							</div>
						</div>
						<div class="contact-datails">
							<div class="icon">
								<i class="fas fa-location-arrow icon-radius"></i>
							</div>
							<div class="info">
								<h3>Adresse Mail</h3>
								<span class="detail">contact@baradougou.com</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact Us Section  -->

	<!-- Map Section Start -->
	<section id="google-map-area">
		<div class="container-fluid padding-0">
			<div class="row">
				<div class="col-12">
<object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121379.03889206587!2d-16.02360137318193!3d18.067157927880537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe96526c16ece9bd%3A0x270005bd53c1e1f9!2sNouakchott%2C%20Mauritanie!5e0!3m2!1sfr!2ssn!4v1599944589832!5m2!1sfr!2ssn"></object>

				</div>
			</div>
		</div>
	</section>
	<!-- Map Section End -->
{% endblock %}
