{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisations
{% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="page-header" style="background: url({{asset('assets/img/banner1.jpg')}});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">"BARADOUGOU" الشروط العامة لاستخدام تطبيق</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Main container Start -->
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <h3> . العامة للاستخدام وسياسة حماية البيانات الشخصية الخاصة به جمع أصحاب المصلحة معًا عبر تطبيق ويب،
                    لذلك سوف نقدم تطبيق BARADOUGOU وشروطه BARADOUGOU من أجل جعل مقدمي الخدمات على اتصال مع عملائهم
                    المحتملين ، تعتزم شركة </h3>

                <div class="ad-detail-content">
                    <p>المادة 1: العرض العام للخدمة</p>

                    <blockquote>
                        <p>هو تطبيق تم تشريعه من طرف مؤسسوها BARADOUGOU </p>
                        <ol>
                            <li>الغرض من الخدمة<span>:1.1</span></li>
                            الخدمة عبارة عن تطبيق لربط مقدمي الخدمات من مختلف المجالات بعملائهم المحتملين. كما يوفر
                            للمستخدمين إمكانية الوصول إلى العروض الترويجية والصفقات الرائعة. وبذلك تكون الخدمة متاحة
                            للأفراد أو الشركات من أجل تسهيل الاتصال بمزودي الخدمة
                            </li>
                            <li>تشغيل الخدمة<span>:2.1</span></li>
                            : رابط الموقع هو
                            <u>//baradougou.com/</u>.
                            للاستفادة من الخدمة ، يجب أن يكون لدى المستخدم هاتف ذكي أو جهاز لوحي أو كمبيوتر ، والوصول
                            إلى الإنترنت وحساب مستخدم شخصي. ولجعل الأمر اكثر سهولة ، تكون الخدمة أساسًا في شكل
                            هي كما يلي BARADOUGOU استعراض لمحات عن مقدمي الخدمات. وظائف تطبيق
                            <ul>
                                <li><span>يملأ المستخدم المعلومات اللازمة لإنشاء حساب مستخدم شخصي</span>●</li>
                                <ul>
                                    <li><span>لدى المستخدم خيار تعيين التصنيفات لمقدمي الخدمة بعد تعييناتهم</span>●</li>
                                </ul>
                            </ul>

                        </ol>

                    </blockquote>
                    <p>المادة 2: نطاق تطبيق الشروط والأحكام</p>

                    <blockquote>
                        <p>
                            تحكم شروط الاستخدام العامة الموضحة أدناه ، والمشار إليها بـ "الشروط والأحكام" ، العلاقة بين
                            بارادوقو والمستخدمين ، المشار إليهم فيما يلي باسم "المستخدم" أو "مستخدمي" التطبيق. يتعين على
                            المستخدم قبول هذه الشروط والأحكام لأي استخدام للتطبيق عن طريق تحديد المربع "أقر بأنني قد
                            قرأت وقبلت الشروط العامة للاستخدام" يمكن الوصول إلى هذه الشروط والأحكام في أي وقت على موقع
                            الويب ضمن قسم "شروط الاستخدام" الموجود في تذييل الموقع وستسود على أي شروط أخرى نسخة أو أي
                            وثيقة متناقضة. يجوز لبرادوقو تعديل هذه الشروط والأحكام في أي وقت ، دون سابق إنذار ودون
                            الحاجة إلى إبلاغ المستخدمين بها مسبقًا ، في أقرب وقت تراه مناسبًا. سيتم إبلاغ المستخدمين
                            بتعديل الحاضر عن طريق نشر الشروط والأحكام المحدثة</p>

                        <p>. من خلال نشر الشروط والأحكام المحدثة. تسري الشروط والأحكام المعدلة من تاريخ نشرها. استمرار
                            استخدام الخدمة بعد هذا النشر سيشكل قبولًا للإصدار الجديد من هذه الاتفاقية. لذلك يُنصح
                            المستخدمون بقراءة هذه الشروط والأحكام بعناية فائقة والرجوع بانتظام إلى الشروط والأحكام
                            المحدثة ، في قسم "شروط الاستخدام" بالموقع. من خلال التسجيل ، يؤكد المستخدم أنه قرأ هذه
                            الشروط والأحكام ويوافق على تقديمها لهم دون تحفظ. ما لم يثبت خلاف ذلك، فإن البيانات المسجلة
                            في نظام الكمبيوتر الخاص بالتطبيق تشكل دليلاً على جميع المعاملات المبرمة مع المستخدمين</p>

                    </blockquote>
                    <p>المادة 3: حماية البيانات الشخصية</p>
                    <blockquote> حماية هذه البيانات بفعاليةوكفاءة. كما تمتنع عنعن إفشاء أي معلومات من أي نوع تهدف إلى
                        الإضرار بمستخدمي تطبيقاتها. BARADOUGOU إدراكًا منا لأهمية البيانات الشخصية ، تضمن شركة
                    </blockquote>
                    <p>المادة   4:فواتير الخدمات</p>
                    <blockquote> .فاتورة بالمستخدم BARADOUGOU ستتم محاسبة الخدمات المطلوبة على المستخدم بعد التشخيص من
                        قبل مزود الخدمة سوف تصدر
                        سيُطلب من مقدم الخدمة ، بناءً على طلب المستخدم ، التنقل حول مباني هذا الأخير. سيتم تغطية تكاليف

                        BARADOUGOU السفر بالكامل من قبل المستخدم بالاتفاق مع وتبلغ هذه التكاليف إلى 150 أوقية
                        جديدة

                        .سيكون المستخدم مسؤولاً عن شراء المعدات والمواد الاستهلاكية اللازمة للتشغيل السلس للخدمة
                        نقدًا أو عن طريق التحويل المصرفي أو أي BARADOUGOU سيتم دفع المبالغ المذكورة أعلاه إلى
                        .مصادر تحويل أموال أخرى في غضون 24 ساعة بعد إصدار الفاتورة

                    </blockquote>
                    <p>حرر في نواكشوط بتاريخ 07/7/2020 </p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Main container End -->

{% endblock %}