{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisations
{% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="page-header" style="background: url({{asset('assets/img/banner1.jpg')}});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">CONDITIONS GENERALES D’UTILISATIONS DE L'APPLICATION « BARADOUGOU »</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Main container Start -->
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <h3>En vue de mettre en relation des prestataires avec leurs potentiels clients, la société BARADOUGOU compte via une application web rapprocher les parties prenantes. Ainsi, nous vous présenterons l’application BARADOUGOU, ses conditions générales d’utilisation et sa politique de protection des données personnelles.</h3>

                <div class="ad-detail-content">
                    <p>ARTICLE 1 : PRÉSENTATION GÉNÉRALE DU SERVICE</p>

                    <blockquote>
                        <p>BARADOUGOU est une application initiée par ses fondateurs.</p>
                        <ol>
                            <li>1.1 Objet du service</li>
                           Le Service est une application de mise en relation de prestataires de divers domaines avec leurs potentiels clients. Il offre également aux utilisateurs l’accès à des bons plans et promotions. Ainsi, le Service est mis à la disposition des particuliers ou entreprises, afin de leur faciliter la prise de contacts avec des prestataires.

                            </li>
                            <li>1.2 Fonctionnement du Service
                            </li>
                            Le lien du site web est https :
                            <u>//baradougou.com/</u>.

                          Pour bénéficier du Service, l’Utilisateur doit donc disposer d’un Smartphone, d'une tablette ou d'un ordinateur, d’un accès internet et d’un compte personnel d’utilisateur. Pour plus de facilité, le Service se présente essentiellement sous la forme d’un défilé de profils de prestataires et de services. Les fonctionnalités de l’Application BARADOUGOU sont les suivantes :

                            <ul>
                                <li>
                                    • L’Utilisateur renseigne les informations nécessaires pour la création d’un Compte
                                    personnel d’Utilisateur.</li>
                                <ul>
                                    <li>● L’Utilisateur a la possibilité d'attribuer des évaluations aux prestataires  après leurs
                                        missions.</li>
                                </ul>
                            </ul>

                        </ol>

                    </blockquote>
                    <p>ARTICLE 2 : CHAMP D’APPLICATION DES CGU
                    </p>

                    <blockquote>
                        <p>
                            Les présentes Conditions Générales d’Utilisation décrites ci-après dénommées « CGU », régissent les rapports entre BARADOUGOU et les Utilisateurs, ci-après dénommés « l’Utilisateur » ou « les Utilisateurs » de l’Application. L’Utilisateur est tenu d’accepter les présentes CGU pour toute utilisation de l’application en cochant la case « J’atteste avoir lu et accepté les Conditions Générales d’Utilisation ». Les présentes CGU sont accessibles à tout moment sur le site web dans la rubrique « CONDITIONS D'UTILISATION » qui se trouve en pied de page du site et prévaudront sur toute autre version ou tout autre document contradictoire. BARADOUGOU pourra modifier les présentes CGU à tout moment, sans préavis et sans avoir à le communiquer préalablement aux Utilisateurs, dès lors que cela lui semble opportun. Les Utilisateurs seront informés de la modification des présentes par le biais de la publication des CGU actualisées. Les CGU modifiées prendront effet à partir de leur publication. La poursuite de l’utilisation du Service à la suite de cette publication constituera une acceptation de la nouvelle version des présentes. Il est donc conseillé aux Utilisateurs de lire très attentivement les présentes CGU et de consulter régulièrement les CGU mises à jour, dans la Rubrique «CONDITIONS D'UTILISATION» du site</p>

                        <p>. En procédant à son inscription, l’Utilisateur confirme avoir pris connaissance des présentes CGU et accepte de s'y soumettre sans réserve. Sauf preuve contraire, les données enregistrées dans le système informatique de l’application constituent la preuve de l’ensemble des transactions conclues avec les Utilisateurs.</p>

                    </blockquote>
                    <p>ARTICLE 3 : LA PROTECTION DES DONNEES PERSONNELLES</p>
                    <blockquote>Consciente de l’importance des données personnelles, la société BARADOUGOU veille de manière efficace et efficiente à la protection de ces données. Elle s’abstient également à divulguer des informations de quelque nature que ce soit visant à porter préjudice aux utilisateurs de son application.</blockquote>
                      <p>ARTICLE 4 : Facturation des services</p>
                          <blockquote>Les prestations requises seront facturées à l'utilisateur après diagnostic du prestataire.
BARADOUGOU émettra une facture au nom de l'utilisateur.
Le Prestataire sera amené, à la demande de l'utilisateur, à se déplacer dans les locaux de celui-ci. Les frais de déplacement seront totalement pris en charge par l'utilisateur en accord avec BARADOUGOU. Ces frais s'élèvent à un montant de 150 MRU.
L'utilisateur prendra à sa charge l'achat du matériel et consommables nécessaires au bon déroulement de la prestation. 
Les sommes prévues ci-dessus seront payées à BARADOUGOU par cash ou par virement BANKILY ou autre canal de transfert d'argent dans un délai de 24 heures après émission de la facture.
</blockquote>
<p>Fait à Nouakchott, le  07/07/2020</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Main container End -->

{% endblock %}