{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Baradougou!
{% endblock %}

{% block body %}

	{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  #}

	<!-- Start intro section -->
	<link rel="stylesheet" href="/path/to/slick.css"> <link rel="stylesheet" href="/path/to/slick-theme.css">
	<section id="intro" class="section-intro">
		<div class="overlay">
			<div class="container">
				<div class="main-text">
					<h1 class="intro-title">
						<style media="all"> 
							.brdgcolor {
								color: orange !important;
							}
						</style>

						<span class="brdgcolor">Baradougou</span>
					</h1>
					<p class="sub-title">TROUVEZ DES PRESTATAIRES FIABLES ET QUALIFIÉS</p>

					<!-- Start Search box -->
					{% block rechercheindex %}
						{{ render(controller('App\\Controller\\DefaultController::rechercheindex')) }}
					{% endblock %}
					<!-- End Search box -->
				</div>
				<!-- End Search box -->
			</div>
		</div>
	</div>
</section>

<!-- end intro section -->

<div
	class="wrapper">
	<!-- Categories Homepage Section Start -->
	<section id="categories-homepage">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-title">Rubriques</h3>
				</div>
				{% for category in categories %}
					{% if category.active %}
						<div class="col-lg-3 col-md-6 col-xs-12">
							<div class="category-box border-1 wow fadeInUpQuick" data-wow-delay="0.3s">
								<div class="icon">
									<a href="#">
										<img src="{{ vich_uploader_asset(category, 'imageFile') }}" alt="">
									</a>
								</div>
								<div class="category-header">
									<a href="#">
										<h4>{{category.name}}</h4>
									</a>
								</div>
								<div class="category-content">
									<ul>
										{% for service in category.services %}
											<li>
												<a href="{{ path('service_show', {'id': service.id}) }}">{{service.name}}</a>
												<sapn class="category-counter">{{service.prestations | length }}</sapn>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Categories Homepage Section End -->

	<!-- Featured Listings Start -->
	<section class="featured-lis">
		<div class="container">
			<div class="row">
				<div class="col-12 wow fadeIn" data-wow-delay="0.5s">
					<h3 class="section-title">En vedette</h3>
					<div id="new-products" class="owl-carousel">
						{% for prestation in prestations %}
							<div class="item">
								<div class="product-item">
									<div class="carousel-thumb">
										{% for image in prestation.images %}
											<img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('my_thumb') }}" alt="">
										{% endfor %}
										<div class="overlay">
											<a href="{{ path('prestation_show', {'id': prestation.id}) }}">
												<i class="fas fa-link"></i>
											</a>
										</div>
									</div>
									<a href="{{ path('prestation_show', {'id': prestation.id}) }}" class="item-name">{{prestation.titre}}</a>
									{#<span class="price">{{prestation.price}} MRU</span>#}

								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
		<!-- Featured Listings End -->

		<!-- Start Services Section -->
		<div class="featuresection">

			<div class="featuredetail">
				<h1>Pourquoi choisir Baradougou ?</h1>
				<p>Votre satisfaction et votre sécurité sont nos principales préoccupations.</p>
			</div>
		</div>

		<h2 class="realisation">Réalisations</h2>
		<div id="carouselExampleIndicators" class="carousel slide carousel-style" data-ride="carousel">
 
  <div class="carousel-inner">
	{% for galerie in galerie | slice(0,1) %}
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ vich_uploader_asset(galerie, 'imageFile') }}" alt="First slide">
    </div>
	{% endfor %}
	{% for galerie in galerie | slice(1) %}
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ vich_uploader_asset(galerie, 'imageFile') }}" alt="Second slide">
    </div>
	{% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


		<section class="view-all">
			<div class="container">
				<div class="element-container">
					<p>Plateforme de services professionnels 
												Soumettez votre requête et nous nous ferons un plaisir de la satisfaire
												Baradougou c'est la satisfaction garantie.</p>

				</p>
				
				<a href="{{ path('realisation')}}">Voir tous Les services</a>
			</div>

		</div>
	</section>


	<!-- End Services Section -->

	<!-- Location Section Start -->
	<section class="location">
		<div class="container">
			<div class="row localtion-list">
				<div class="col-lg-6 col-12-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.5s">
					<h3 class="title-2">
						<i class="fas fa-envelope"></i>
						Abonnez vous à notre newsletter...</h3>

					<form id="subscribe" action="{{path('newslatters_new')}}">
						<p>Rejoignez nos abonnés et accédez aux dernières annonces et ressources!</p>

						<div class="subscribe">
							<input class="form-control" name="email" placeholder="Votre email ici" required="" type="email">

							<button class="btn btn-common" type="submit">Souscrire</button>

						</div>
					</form>
				</div>
				<div class="col-lg-6 col-12-6 col-xs-12 wow fadeInRight" data-wow-delay="1s">
					<div class="row">
						<div class="col-12">
							<h3 class="title-2">
								<i class="fas fa-search"></i>
								Services les plus demandés</h3>

						</div>
						{% for categorie in categories | slice (0,3)%}
							<ul class="col-lg-4 col-md-4 col-xs-12">
								<li>
									<h6 class="titreservice">{{categorie.name}}</h6>
									{% for service in categorie.services %}
										<a href="{{ path('service_show', {'id': service.id}) }}">{{ service.name }}</a>
									{% endfor %}
								</li>

							</ul>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Location Section End -->

</div>

<!-- Counter Section Start -->
<section id="counter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="counting wow fadeInDownQuick" data-wow-delay="0.5s">
					<div class="icon">
						<span>
							<i class="lnr lnr-tag"></i>
						</span>
					</div>
					<div class="desc">
						<h3 class="counter">{{prestations | length}}</h3>
						<p>Prestations les plus demandées</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="counting wow fadeInDownQuick" data-wow-delay="1s">
					<div class="icon">
						<span>
							<i class="lnr lnr-map"></i>
						</span>
					</div>
					<div class="desc">
						<h3 class="counter">{{localites | length }}</h3>
						<p>Zones</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="counting wow fadeInDownQuick" data-wow-delay="1.5s">
					<div class="icon">
						<span>
							<i class="lnr lnr-users"></i>
						</span>
					</div>
					<div class="desc">
						<h3 class="counter">{{prestataire | length}}</h3>
						<p>Prestaires réguliers</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="counting wow fadeInDownQuick" data-wow-delay="2s">
					<div class="icon">
						<span>
							<i class="lnr lnr-license"></i>
						</span>
					</div>
					<div class="desc">
						<h3 class="counter">0</h3>
						<p>Annonces & Pub</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Counter Section End -->{% endblock %}
