<!-- Start Search box -->
<div class="search-bar row">
	<fieldset>
		<form action="{{ path('prestation_rech') }}" method="GET">
			<div class="form-group">
				<i class="lni-bullhorn"></i>
				<input type="text" name="rech" class="form-control" placeholder="Que cherchez-vous">
			</div>
			<div class="form-group">
				<div class="tg-select">
					
					<select id="dino-select" name="categorie">
					<option value="">Services</option>
          {% for categories in categories %}
						<optgroup label="{{categories}}">
            {% for service in categories.services %}
							<option value={{service.id}}>{{service}}</option>
              {% endfor %}
						</optgroup>
            {% endfor %}
						
					</select>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			<div class="form-group">
				<div class="tg-select">
					<select name="localite">
						<option value="">Localités</option>
						{% for localite in localites %}
							<option value="{{localite.id}}">{{localite}}</option>
						{% endfor %}
						<i class="lnr-chevron-down"></i>
					</select>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			<button class="btn btn-common" type="submit">
<i class="lni-search"></i> Chercher</button>

		</form>
	</fieldset>
</div>
<!-- End Search box -->
