{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="page-header" style="background: url({{asset('assets/img/banner2.jpg')}});">
  <div class="container">
    <div class="row">
      <div class="col-12">
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Content section Start -->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="inner-box posting">
          <div class="alert alert-success alert-lg" role="alert">
            <h2 class="postin-title">✔ Nous vous remercions de votre confiance :) Votre requête a été prise en
              considération. Nous vous recontacterons rapidement.</h2>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section End -->

{% endblock %}