/* ==========================================================================
Google Font Loader
========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:500,700");
/* ==========================================================================
Common Styles
========================================================================== */
body {
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 24px;
overflow-x: hidden;
/* fixing the overflow duting animation */
}

h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 0;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

h1 {
font-size: 3em;
}

h3 {
font-size: 1.6em;
line-height: 1.4em;
}

p {
font-size: 13px;
font-family: 'Lato', sans-serif;
margin: 0;
line-height: 24px;
font-weight: 400;
}

a {
color: #444;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
}

a:hover,
a:focus {
color: #2e3192;
}

img {
max-width: 100%;
}

ul {
margin: 0px;
padding: 0px;
}

ul li {
list-style: none;
margin: 0;
}

ol {
list-style: none;
}

a:hover,
a:focus {
text-decoration: none;
outline: none;
}

.center {
text-align: center;
}

.btn i {
margin-right: 5px;
margin-left: 5px;
}

::selection {
background: #2e3192;
color: #fff;
}

::-moz-selection {
background: #2e3192;
color: #fff;
}

.block-title {
margin: 0px 0px 20px;
}

h3.block-title {
font-size: 24px;
color: #2E3192;
text-transform: uppercase;
padding-bottom: 5px;
}

/*====================================================
bootstrap default style overriding
====================================================*/
.btn {
padding: 10px 22px;
color: #fff;
border-radius: 4px;
position: relative;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
border: none;
}

.btn:focus,
.btn:hover {
color: #fff;
outline: none;
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-common, .btn-primary {
background: #40439b;
}

.btn-common:hover, .btn-primary:hover {
background: #f49220;
}

.fileinput-remove-button {
background: #d9534f;
}

.btn-danger:hover, .fileinput-remove-button:hover {
background: #ed6763;
}

.fileinput-upload {
background: #5cb85c;
}

.fileinput-upload:hover {
background: #70cc70;
}

.btn-border {
background: #4285F4;
padding: 16px 36px !important;
text-transform: uppercase;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.btn-border:hover {
opacity: 0.8;
color: #fff;
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-search {
padding: 12px;
border-radius: 0px;
}

.btn-sm {
font-size: 13px;
padding: 4px 8px;
line-height: 1.5;
margin-bottom: 5px;
border: none;
}

.btn-xs {
border-radius: 0px;
font-size: 12px;
line-height: 1.5;
padding: 1px 5px;
}

.btn-rm {
padding: 10px 21px;
margin-top: 30px;
text-transform: capitalize;
}

.btn-post {
padding: 10px 16px;
    margin-left: 14px;

}

a:not([href]):not([tabindex]) {
color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
color: #fff;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
box-shadow: none;
}

#color-style-switcher .bottom a i {
color: #2e3192;
}

.wrapper {
padding: 60px 0;
}

.section {
padding: 60px 0;
}

.section-title {
font-size: 24px;
letter-spacing: 0.1em;
padding: 20px 0px;
text-transform: uppercase;
font-weight: 400;
}

.title-2 {
border-bottom: 1px solid #E6E6E6;
font-size: 16px;
margin-bottom: 10px;
padding: 15px 0;
width: 100%;
display: inline-block;
text-transform: uppercase;
color: #40439B;
}

#conbtn-commonent {
padding: 80px 0;
}

.main-container {
padding: 80px 0;
}

.tbtn {
color: #FFF !important;
font-size: 30px;
height: 42px;
width: 105px;
padding: 8px 15px;
cursor: pointer;
position: fixed;
background: #E74C3C;
z-index: 999;
top: 124px;
left: 0px;
}

.page-header {
padding: 40px 0;
margin-top: 77px;
border-top: 1px solid #eee;
}

.page-header .page-title {
font-size: 22px !important;
line-height: 38px;
font-weight: 700;
color: #fff;
text-transform: uppercase;
text-align: center;
}

.breadcrumb-wrapper {
text-align: center;
}

.breadcrumb {
font-size: 14px;
color: #3498db;
border-radius: 0px;
background: #f7f7f7;
padding: 5px 15px;
position: absolute;
z-index: 1;
margin-top: 64px;
}

.breadcrumb a {
color: #444;
}

.breadcrumb a:hover {
color: #2e3192;
}

.no-padding {
padding: 0px !important;
}

select.form-control {
border: 0;
outline: 1px solid #ddd;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
border-radius: 0;
height: 47px !important;
}

select.form-control:focus {
border: 0;
outline: 1px solid #ddd;
background-color: #fff;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}

#loader {
position: fixed;
background: #fff;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999999999;
}

.sk-folding-cube {
margin: 0px auto;
top: 50%;
width: 50px;
height: 50px;
position: relative;
-webkit-transform: rotateZ(45deg);
transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
float: left;
width: 50%;
height: 50%;
position: relative;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #2e3192;
-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
animation: sk-foldCubeAngle 2.4s infinite linear both;
-webkit-transform-origin: 100% 100%;
-ms-transform-origin: 100% 100%;
transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
-webkit-transform: scale(1.1) rotateZ(90deg);
transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
-webkit-transform: scale(1.1) rotateZ(180deg);
transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
-webkit-transform: scale(1.1) rotateZ(270deg);
transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
-webkit-animation-delay: 0.3s;
animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
-webkit-animation-delay: 0.6s;
animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
-webkit-animation-delay: 0.9s;
animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
0%, 10% {
-webkit-transform: perspective(140px) rotateX(-180deg);
transform: perspective(140px) rotateX(-180deg);
opacity: 0;
}
25%, 75% {
-webkit-transform: perspective(140px) rotateX(0deg);
transform: perspective(140px) rotateX(0deg);
opacity: 1;
}
90%, 100% {
-webkit-transform: perspective(140px) rotateY(180deg);
transform: perspective(140px) rotateY(180deg);
opacity: 0;
}
}

@keyframes sk-foldCubeAngle {
0%, 10% {
-webkit-transform: perspective(140px) rotateX(-180deg);
transform: perspective(140px) rotateX(-180deg);
opacity: 0;
}
25%, 75% {
-webkit-transform: perspective(140px) rotateX(0deg);
transform: perspective(140px) rotateX(0deg);
opacity: 1;
}
90%, 100% {
-webkit-transform: perspective(140px) rotateY(180deg);
transform: perspective(140px) rotateY(180deg);
opacity: 0;
}
}

#hero-area {
background: url(../img/bg/bg1.jpg) no-repeat;
background-size: cover;
color: #fff;
overflow: hidden;
position: relative;
}

#hero-area .overlay {
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background: rgba(0, 0, 0, 0.6);
}

#hero-area .contents {
padding: 170px 0 180px;
}

#hero-area .contents .head-title {
font-size: 50px;
font-weight: 300;
color: #fff;
white-space: nowrap;
line-height: 58px;
margin-bottom: 15px;
}

#hero-area .contents p {
font-size: 14px;
color: #fff;
font-weight: 400;
line-height: 26px;
}

#search-bg-color {
margin-top: 40px;
top: 0;
z-index: 99;
}

#search-bg-color .search-bar {
background: rgba(151, 151, 151, 0.33);
}

#search-bg-color .search-bar .form-group {
margin: 0;
}

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area .contents .head-title {
font-size: 50px;
font-weight: 300;
color: #fff;
white-space: nowrap;
line-height: 58px;
margin-bottom: 15px;
}

.search-bar .search-form {
width: 100%;
float: left;
}

.search-bar fieldset {
background: #fff;
overflow: hidden;
padding: 0 190px 0 0;
border-radius: 4px;
}

.search-bar fieldset {
margin: 0;
border: 0;
padding: 0;
width: 100%;
float: left;
position: relative;
}

.search-bar .form-group:first-child {
border: 0;
}

.search-bar .form-group {
float: left;
width: 25.33%;
padding: 0 0 0 10px;
background: #fff;
border-radius: 0px;
border-left: 1px solid #f1f1f1;
}

.search-bar .form-group .form-control {
position: relative;
z-index: 1;
border: 0;
height: 60px;
border-radius: 0;
font-size: 16px;
line-height: 30px;
padding: 15px 15px 15px 0;
box-shadow: none;
}

.search-bar .form-group .form-control, .search-bar .form-group .tg-select select {
border: 0;
height: 60px;
border-radius: 0;
font-size: 12px;
line-height: 30px;
padding: 15px 15px 15px 0;
background: #ffffff;
}

.search-bar .form-group .form-control, .search-bar .form-group .tg-select select:focus {
outline: none;
}

.search-bar .tg-select {
color: #666;
float: left;
width: 100%;
position: relative;
text-transform: uppercase;
}

.search-bar .tg-select i {
font-size: 15px;
position: absolute;
top: 10px;
background-color: transparent;
color: #444;
right: 20px;
z-index: 99;
}

.search-bar .tg-select select {
z-index: 1;
width: 100%;
position: relative;
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
}

.search-bar .tg-select select option {
color: #666;
}

.search-bar .tg-inputwithicon {
position: relative;
}

.search-bar .tg-inputwithicon i {
top: 0;
left: 0;
z-index: 2;
color: #363b4d;
position: absolute;
}

.search-bar .tg-inputwithicon i {
left: 20px;
color: #666;
font-size: 20px;
line-height: 60px;
}

.search-bar .btn-common {
top: 5px;
padding: 0;
z-index: 2;
width: 215px;
border-radius: 4px;
border: none;
cursor: pointer;
line-height: 48px;
text-align: center;
position: relative;
letter-spacing: 0.5px;
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

.search-bar .btn-common i {
font-size: 20px;
vertical-align: middle;
}

.search-button {
background: #484848;
padding-bottom: 40px;
}

.feature-bg {
background: #2e3192;
}

.text-wrapper {
height: 100%;
display: table;
padding-left: 140px;
}

.text-wrapper > div {
vertical-align: middle;
display: table-cell;
}

.feature-thumb {
padding: 40px 0;
}

.feature-item {
padding: 30px;
}

.feature-item .icon {
float: left;
border: 1px solid #fff;
width: 80px;
height: 80px;
text-align: center;
border-radius: 50%;
transition: all .6s ease;
-moz-transition: all .6s ease;
-webkit-transition: all .6s ease;
}

.feature-item .icon i {
font-size: 36px;
color: #fff;
line-height: 80px;
}

.feature-content {
color: #fff;
margin-left: 100px;
}

.feature-content h3 {
color: #fff;
text-transform: uppercase;
font-size: 18px;
}

.feature-item:hover .icon {
background: #fff;
}

.feature-item:hover .icon i {
color: #2e3192;
}

.owl-nav {
position: relative;
top: -160px;
left: 0;
}

.owl-nav div.owl-prev {
float: left;
margin-left: -45px;
}

.owl-nav div.owl-next {
float: right !important;
margin-right: -45px;
}

.owl-nav div {
width: 40px;
height: 40px;
display: block !important;
background: #40439b !important;
text-align: center;
display: inline-block;
opacity: 1 !important;
border-radius: 0px !important;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

.owl-nav div i {
color: #fff;
font-size: 16px;
line-height: 40px;
}

.owl-nav div:hover {
background: #3ebfea !important;
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/*====================================================
intro section style
====================================================*/
.section-intro {
background: url("../img/banniere.jpg") center center no-repeat;
background-size: cover;
color: #fff;
text-align: center;
}

.section-intro .overlay {
background: rgba(0, 0, 0, 0.5) repeat;
width: 100%;
height: 100%;
}

.section-intro .main-text {
padding: 175px 15px 170px;
text-transform: uppercase;
}

.section-intro .main-text .intro-title {
font-size: 50px;
font-weight: 300;
color: #fff;
white-space: nowrap;
line-height: 58px;
}

.section-intro .main-text .intro-title span {
color: #2e3192;
}

.section-intro .main-text .sub-title {
font-size: 16px;
color: #fff;
padding: 15px 0;
line-height: 24px;
text-transform: capitalize;
margin-bottom: 15px;
font-weight: bold;
}

#search-row-wrapper {
background: url("../img/bg/counter-bg.jpg") center center no-repeat;
background-size: cover;
color: #fff;
text-align: center;
}

#search-row-wrapper .overlay {
background: rgba(0, 0, 0, 0.49);
width: 100%;
height: 100%;
}

#search-row-wrapper .search-inner {
margin-top: 77px;
padding: 40px 15px;
}

/* ==========================================================================
Advanced search
========================================================================== */
.search-bar .form-group {
margin: 0 0 0 12px;
}

.search-bar .btn-group, .search-bar .btn-group-vertical {
margin: 0;
}

.search-bar .btn-select {
padding: 12px;
border-radius: 0;
color: #555;
background: #fff;
text-transform: none;
}

.search-bar .dropdown-menu li a:hover, .search-bar .dropdown-menu li a:focus, .search-bar .dropdown-menu li a:active {
background-color: #2e3192;
color: #FFFFFF;
border-radius: 0;
}

.search-bar .btn-group.bootstrap-select.dropdown-product ul.dropdown-menu.inner {
display: none;
}

.search-bar .btn-group.bootstrap-select.dropdown-product.open ul.dropdown-menu.inner {
display: block;
z-index: 9999;
}

.search-bar .open .dropdown-menu {
margin-top: 0;
}

.search-bar .btn-group .dropdown-menu, .search-bar .btn-group-vertical .dropdown-menu {
border-radius: 0;
text-transform: none;
}

.search-bar-nostyle {
padding: 0;
background: transparent;
}

.input-group-addon {
border: none;
background: transparent;
}

.search-category .search-category-container {
border: none;
padding: 0;
position: relative;
border-radius: 0;
border: none !important;
background: #fff;
}

.input-group-addon {
padding: 0 !important;
}

.styled-select select {
background: transparent;
font-size: 14px;
line-height: 18px;
border-radius: 0;
height: 44px;
-webkit-appearance: none;
-webkit-border-radius: 0px;
}

.styled-select {
position: relative;
margin-bottom: 0;
}

.styled-select:before {
content: "\f0c9";
font-family: FontAwesome;
color: #555;
right: 0;
padding: 15px;
position: absolute;
z-index: 9999;
cursor: pointer;
}

.styled-select .bs-caret {
display: none;
}

.location-select:before {
content: "\f278";
}

.default-select:before {
content: "\f0d7";
}

.search-category select {
padding: 12px;
border: none;
background: transparent;
font-size: 14px;
font-weight: 400;
color: #333;
}

select > opation:focus {
box-shadow: none;
border: none;
}

/* ==========================================================================
Categories Homepage
========================================================================== */
.category-box {
background-color: #fff;
margin: 40px 0;
height: 280px;
box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
border-radius: 0;
position: relative;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-ms-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
}

.category-box:hover {
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.category-box .icon {
text-align: center;
position: absolute;
top: -25px;
margin: 0 auto;
width: 100%;
}
.category-box .icon img {
width: 30%;
margin-top: -23px;
}

@media (max-width: 767px) {
.category-box .icon img {

width: 25%;
margin-top: -33px;

}
}

.category-box .icon i {
display: inline-block;
font-size: 22px;
width: 52px;
height: 52px;
color: #fff;
line-height: 48px;
box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.25);
}

.category-box .category-header {
width: 100%;
background-color: #f8f8f8;
display: inline-block;
text-align: center;
padding: 40px 15px 20px;
border-bottom: 1px solid #EEE;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-ms-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
}

.category-box .category-header h4 {
font-size: 17px;
color: #444;
padding:15px 0 0;
}

.category-box .category-header:hover {
background: #2e3192;
}

.category-box .category-header:hover h4 {
color: #fff;
}

.category-box .category-content li {
float: left;
font-size: 12px;
line-height: 16px;
margin-top: 10px;
width: 100%;
font-weight: bold;
}

.category-box .category-content li a {
float: left;
color: #888;
margin-left: 15px;
}

.category-box .category-content li a:hover {
color: #2e3192;
}

.category-box .category-counter {
margin-right: 15px;
}

.category-counter {
font-size: 12px;
color: #888;
float: right;
}

.border-1 {
border-bottom: 2px solid #3498db;
}

.border-2 {
border-bottom: 2px solid #FF5353;
}

.border-3 {
border-bottom: 2px solid #1DD2AF;
}

.border-4 {
border-bottom: 2px solid #FE4080;
}

.border-5 {
border-bottom: 2px solid #24A69A;
}

.border-6 {
border-bottom: 2px solid #8E4162;
}

.border-7 {
border-bottom: 2px solid #9A63C1;
}

.border-8 {
border-bottom: 2px solid #512DA7;
}

.color-1 {
background-color: #3498db !important;
}

.color-2 {
background-color: #FF5353 !important;
}

.color-3 {
background-color: #1DD2AF !important;
}

.color-4 {
background-color: #FE4080 !important;
}

.color-5 {
background-color: #24A69A !important;
}

.color-6 {
background-color: #8E4162 !important;
}

.color-7 {
background-color: #9A63C1 !important;
}

.color-8 {
background-color: #512DA7 !important;
}

/* ==========================================================================
Service Box
========================================================================== */
.featuresection {
background: url("../img/imgs/backg.jpg") center center no-repeat;
margin-top:30px;
margin-bottom: 30px;
margin-right: 0;
background-size: cover;
overflow: hidden;
padding-bottom:60px;
position: relative;
}
.featuresection::before {
opacity:0.3;
background-color:white;
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
}
.featuresection .featuredetail {
z-index: 1;
overflow: hidden;
position: relative;
width: 60%;
max-width: 35.5rem;
padding: 3.5625rem 6.1875rem 3.8125rem 4.8125rem;
}
@media (max-width: 767px) {
.featuresection .featuredetail {
z-index: 1;
overflow: hidden;
position: relative;
width: 97%;
height: 54vh;
padding: 0 !important;
}
}
@media (max-width: 767px) {
.featuresection .featuredetail h1 {
color: #484848;
font-weight: 600;
font-size: 18px;
line-height: 1.1;
margin-bottom: -26px;
text-align: center;
padding:18px;
}
}
@media (max-width: 480px) {
.featuresection .featuredetail h1 {
font-size: 20px  !important;
margin-bottom: 11px !important;
padding-top: 20px !important;
}
}
@media (max-width: 767px) {
.featuresection .featuredetail p {
max-width: 21.1875rem;
font-size: 17px;
color: #222222;
padding: 13px 26px 0;
text-align: center;
line-height: 29px;

}
}
@media (max-width: 480px) {
.featuresection .featuredetail p {
font-size: 31px !important;
line-height:37px !important;
text-align: left !important;
padding-left: 56px !important;

}
}

.featuredetail::before{
z-index: -1;
top: -1.5rem;
left: -1.625rem;
transform: skew(-5deg, -4deg);
background: linear-gradient(84.75deg, #fff 0%, rgba(255, 255, 255, 0.65) 100%);
content: "";
position: absolute;
height: 100%;
width: 100%;
}
.featuredetail h1 {
color: #484848;
font-weight: 600;
font-size: 2.625rem;
line-height: 1.1;
margin-bottom: 17px;

}
.featuredetail p {
max-width: 21.1875rem;
font-weight: 495;
font-size: 1rem;
color: #222222;
margin-bottom: 0.125rem;
}
.featuredetail .icondetail {
color: #222222;
font-weight: 500;
font-size: 1rem;
padding-top: 0.25rem;
margin: 0;
}

.temoignage{
justify-content: center !important;
display: flex !important;
margin: 0;
font-family: Texta,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Helvetica Neue,
Arial,
sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
background-color: #fff;
margin-bottom: 5.5625rem;
justify-content: center !important;
display: flex !important;
}
.temoignage .temoignageitems {
width: 100%;
max-width: 70.4375rem;
min-height: 29.125rem;
float: left;
flex-direction: column !important;
display: flex !important;
word-break: break-word;
}
.temoignageitems .temoignageheader {
margin-bottom: 0.438rem;
align-items: center !important;
flex-direction: column !important;
display: flex !important;
margin-top:30px
}
.temoignageheader h1 {
color: #222222;
line-height: 1;
padding: 0;
margin-bottom: 0.5rem;
font-weight: 100;
font-size: 2rem;
font-family: Texta;
}
.temoignageheader i {
line-height: .2;
font-size: 2.8125rem;
font-family: lycons !important;
font-style: normal;
font-weight: 400;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.temoignageitems .temoignagesection{
width: 96%;
display: block;
word-break: break-word;
padding-left: 60px;
text-align: center;
margin-top: 30px;
}
@media (max-width: 767px) {
.temoignageitems .temoignagesection {
width: 96%;
display: block;
word-break: break-word;
padding-left: 6px;
text-align: center;
margin-top: 30px;

}
}

.temoignagesection .temoignagediv{
overflow: hidden !important;
opacity: 1;
position: relative !important;
display: block;
word-break: break-word;
}
.temoignagediv .temoignagedivitems{
transform: translate3d(0px, 0px, 0px);
transition-duration: 0ms;
z-index: unset;
position: relative;
width: 100%;
height: 100%;
z-index: 1;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-transition-property: -webkit-transform;
transition-property: -webkit-transform;
-webkit-box-sizing: content-box;
box-sizing: content-box;
word-break: break-word;
}

.temoignagedivitems .temoignagedivelts{
width: 270.667px;
margin-right: 65px;
height: 100%;
position: relative;
transition-property: transform,
-webkit-transform;
flex-shrink: 0;

}
@media (max-width: 767px) {
.temoignagedivitems .temoignagedivelts {
width: 270.667px;
margin-right: 65px;
height: 100%;
position: relative;
transition-property: transform,
-webkit-transform;
flex-shrink: 0;
margin: 0 auto;

}
}
.temoignagedivelts figure {
width: 100%;
position: relative;
max-width: 21.688rem;
height: 20.813rem;
margin: 0 0 1rem;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 18px;
margin-inline-end: 67px;
display: block;

}
figure img {
height: 100%;
max-width: 100%;
object-fit: cover;
vertical-align: middle;

}
figure figcaption {
position: absolute;
bottom: 0;
left: 0;
width: calc(100% - 32px);
max-width: 25.688rem;
display: block;
word-break: break-word;

}
figcaption .figcaptionarticle{
background-color: #ffffff;
height: 12.875rem;
padding: 1.875rem 1.188rem 0 4.5rem;
display: block;
}
.endsection{
height: 4.3125rem;
padding: 0.375rem 0 0.1875rem 2.5rem;
background: linear-gradient(90.52deg, #FFF 0%, rgba(255, 255, 255, 0.65) 100%);

}
.endsection .endsectiondiv{
background-image: url("assets/img/imgs/backg.jpg");
border-radius: 50%;
box-sizing: border-box;
height: 3.75rem;
width: 3.75rem;
border: 1px solid rgba(151, 151, 151, 0.21);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
word-break: break-word;
float: left;

}
.endsection .pstyle{
position: relative;
color: #222222;
font-size: 16px;
word-break: break-word;
display: inline-block;
top: 7px;
left: -20px;
font-family: Texta;
}
.prodiv{
background: #f5a623;
width: 27px;
display: flex;
margin-left: 80px;
margin-top: 4px;
color:white;

}
.prodiv .pro{
font-size: 9px;
padding: 0px 4px;
font-weight: 700;
}

.figcaptionarticle header {
display: block;
float: left;
}
.figcaptionarticle header h1 {
font-size: 1.25rem;
font-weight: 700;
color: #222;
margin-bottom: 1.25rem;
line-height: 1.2;
margin-top: 0;
margin-block-start: 0em;
margin-block-end: 0.33em;
font-family: Texta;
}
.figcaptionarticle .sectionarticle {
display: block;
}
.sectionarticle {
position: relative;
font-size: 1.125rem;
font-weight: 400;
color: #4e4e4e;
margin-bottom: 1.75rem;
height: 5.25rem;
font-size: 1rem;
float: left;
}
.sectionarticle p {
font-size: 12px;
font-family: Texta sans-serif;
margin: 0;
line-height: 24px;
font-weight: 400;

}
.sectionarticle p .quotes{
height: 0.75rem;
width: 0.75rem;
top: -0.1875rem;
left: -1.25rem;
position: absolute;
height: 0.875rem;
width: 0.875rem;
top: -0.3125rem;
left: -1.5rem;
background-image: url("/assets/img/blockquote_up.png");
background-repeat: no-repeat;
background-size: contain;
}

.sectionarticle .sectionafterp{
align-items: center !important;
display: flex !important;
}
.sectionafterp .etoile{
display: flex;
align-items: center;
margin-top: 17px;
margin-left: 7px;
}
.sectionafterp .note{
color: #4e4e4e;
font-weight: 700;
font-size: 1rem;
padding-left: 0.5625rem;
}
.etoile .etoileitems{
align-items: center;
margin-left: auto !important;
margin-right: auto !important;
display: contents !important;

}
.etoileitems .etoilesstyle{
margin-right: 0px;
display: inline-block;
word-break: break-word;

}
.features-box {
margin-top: 15px;
margin-bottom: 15px;
}

.features-box .features-icon {
float: left;
padding: 2px;
}

.features-box .features-icon i {
color: #2e3192;
font-size: 30px;
}

.features-box .features-content {
padding-left: 50px;
}

.features-box .features-content h4 {
font-size: 18px;
margin-bottom: 5px;
font-weight: 600;
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

.features-box .features-content p {
color: #888;
}

/* ==========================================================================
Featured Listings Styles
========================================================================== */
.featured-lis {
margin-top: 30px;
}

#new-products .product-item {
padding: 0px 5px;
text-align: center;
}

#new-products .product-item .carousel-thumb {
display: block;
border: 1px solid #ddd;
padding: 10px;
margin-bottom: 10px;
position: relative;
z-index: 99;
overflow: hidden;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
}

#new-products .product-item .carousel-thumb img {
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
}

#new-products .product-item .carousel-thumb .overlay {
position: absolute;
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
top: 0;
left: 0;
z-index: 999;
bottom: -1px;
right: 0;
opacity: 0;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}

#new-products .product-item .carousel-thumb .overlay i {
position: absolute;
top: 50%;
left: 0;
right: 0;
cursor: pointer;
visibility: visible;
width: 40px;
height: 40px;
background: #2e3192;
color: #fff;
font-size: 18px;
line-height: 40px;
margin: -20px auto;
box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.25);
opacity: 0;
z-index: 99;
-webkit-transform: scale(0.2);
-moz-transform: scale(0.2);
-ms-transform: scale(0.2);
-o-transform: scale(0.2);
transform: scale(0.2);
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
}

#new-products .product-item .carousel-thumb:hover img {
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
}

#new-products .product-item .carousel-thumb:hover {
border-color: #2e3192;
}

#new-products .product-item .carousel-thumb:hover .overlay {
opacity: 1;
visibility: visible;
}

#new-products .product-item .carousel-thumb:hover i {
opacity: 1;
visibility: visible;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}

#new-products .product-item .item-name {
font-size: 14px;
line-height: 16px;
}

#new-products .product-item .price {
color: #444;
display: block;
font-size: 16px;
font-weight: 700;
padding-top: 7px;
}

#new-products .owl-controls .owl-buttons {
position: relative;
top: -175px;
left: 0;
}

#new-products .owl-controls .owl-buttons div.owl-prev {
float: left;
margin-left: -45px;
}

#new-products .owl-controls .owl-buttons div.owl-next {
float: right !important;
margin-right: -45px;
}

.owl-theme .owl-controls .owl-buttons div {
width: 40px;
height: 40px;
display: block !important;
background: #2e3192 !important;
text-align: center;
display: inline-block;
opacity: 1 !important;
border-radius: 0 !important;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

.owl-theme .owl-controls .owl-buttons div:hover {
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
opacity: 0.8 !important;
}

.owl-theme .owl-controls .owl-buttons div i {
color: #fff;
font-size: 16px;
line-height: 32px;
}

/* ==========================================================================
Locations Styles
========================================================================== */
.location {
margin-top: 50px;
}

.localtion-list {
border: 1px solid #EEE;
padding: 15px;
box-shadow: 1px 1px 3px 0px #F1F1F1;
}

.localtion-list .cat-list {
margin: 0;
padding: 0;
}

.localtion-list .cat-list li {
line-height: 24px;
}

.localtion-list .cat-list li a {
font-size: 13px;
color: #888;
}

.localtion-list .cat-list li a:hover {
color: #2e3192;
margin-left: 5px;
}

/* ==========================================================================
Newsletter Style
========================================================================== */
.newletter {
background: #fff;
}

.main-heading h4 {
color: #444;
margin-bottom: 30px;
text-transform: uppercase;
}

.subscribe {
margin-top: 40px;
width: 100%;
}

.subscribe .form-control {
float: left;
width: 75%;
height: 52px;
margin-right: 5px;
}

/* ==========================================================================
Categories Page style
========================================================================== */
.widget-title {
position: relative;
margin-bottom: 20px;
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}

.widget-title:before {
content: "";
position: absolute;
border-bottom: 3px solid #2e3192;
width: 50px;
bottom: -1px;
left: 0px;
}

.widget-title i {
display: inline-block;
margin-right: 15px;
font-size: 16px;
color: #2e3192;
}

.widget-title h4 {
font-size: 14px;
display: inline-block;
text-transform: uppercase;
}

.inner-box {
padding: 30px 16px;
margin-bottom: 30px;
box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.categories-list ul {
margin: 0;
}

.categories-list ul li a {
padding: 10px;
margin-bottom: 5px;
display: block;
font-size: 11px;
color: #444;
border-bottom: 1px solid #eee;
font-weight: 700;

}

.categories-list ul li a:hover {
color: #2e3192;
}

.categories-list ul li a i {
margin-right: 5px;
}

.categories-list ul li:last-child a {
border: none;
}

.advimg .featured-list li {
width: 62px;
height: 62px;
margin-right: 0;
}

.product-filter {
height: 40px;
}

.product-filter .grid-list-count {
float: left;
}

.product-filter .grid-list-count a {
margin-right: 10px;
}

.product-filter .short-name {
margin: 0px;
display: inline-block;
color: #999;
}

.product-filter .short-name span {
float: left;
margin-right: 5px;
}

.product-filter .short-name .name-ordering {
float: left;
}

.product-filter .Show-item {
float: right;
}

.product-filter .Show-item span {
color: #888;
display: inline-block;
line-height: 20px;
margin-right: 5px;
}

.product-filter .Show-item .woocommerce-ordering {
float: right;
}

.product-filter .button, .product-filter select {
font-size: 14px;
font-weight: 400;
color: #333;
}

/* ==========================================================================
Adds wrapper Style
========================================================================== */
.adds-wrapper {
background: #FFF;
clear: both;
display: inline-block;
height: auto;
width: 100%;
}

.adds-wrapper .item-list {
padding: 15px 30px;
border: 1px solid #eee;
width: 100%;
height: auto;
display: block;
position: relative;
overflow: hidden;
clear: both;
margin-bottom: 15px;
box-shadow: 1px 1px 3px 0px #F1F1F1;
-webkit-transition: background 0.25s ease-in 0s;
-moz-transition: background 0.25s ease-in 0s;
-ms-transition: background 0.25s ease-in 0s;
-o-transition: background 0.25s ease-in 0s;
transition: background 0.25s ease-in 0s;
}

.adds-wrapper .item-list:hover {
background: #F6F6F5;
}

.adds-wrapper .add-title {
font-size: 16px;
padding-bottom: 10px;
}

.adds-wrapper .info {
display: block;
clear: both;
font-size: 12px;
color: #888;
margin-bottom: 10px;
}

.adds-wrapper .add-type {
color: #2e3192;
background: #eee;
border: 1px solid #ddd;
display: inline-block;
height: 25px;
line-height: 18px;
padding: 3px;
text-align: center;
width: 25px;
}

.adds-wrapper .price-box {
padding: 0px;
}

.adds-wrapper .price-box .item-price {
font-size: 24px;
line-height: 28px;
font-weight: 400;
padding-bottom: 15px;
}

.pagination-bar {
padding-bottom: 35px;
margin-top: 35px;
}

.pagination {
margin: 0;
}

.pagination .page-item .page-link {
border: 0;
border-radius: 30px !important;
border: 1px solid #eee;
transition: all .3s;
padding: 0px 11px;
margin: 0 3px;
min-width: 30px;
height: 30px;
line-height: 30px;
color: #999999;
font-weight: 400;
font-size: 12px;
text-transform: uppercase;
background: transparent;
}

.pagination .page-item .page-link:hover {
background-color: #2e3192;
color: #fff;
}

.pagination .page-item .page-link:focus {
box-shadow: none !important;
}

.pagination .page-item .active {
background-color: #2e3192;
border-color: #2e3192;
color: #fff;
}

.post-promo {
background: #e5e5e5;
border: 1px solid #ddd;
padding: 30px;
}

.post-promo h2 {
font-size: 24px;
font-weight: 400;
margin-bottom: 10px;
}

.post-promo h5 {
font-size: 14px;
font-weight: 400;
margin-bottom: 20px;
}

/* ==========================================================================
About Page Style
========================================================================== */
.ad-detail-content {
margin-top: 30px;
}

.ad-detail-content p {
margin-bottom: 20px;
color: #888;
}

.ad-detail-content blockquote {
padding: 15px;
background: #eee;
border-left: 3px solid #2e3192;
}

/* ==========================================================================
Ads-detail Style
========================================================================== */
.Ads-Details {
background: #F7F7F7;
padding: 30px;
border: 1px solid #E3E3E3;
}

.Ads-Details .list-circle li {
margin-left: 20px;
}

/* ==========================================================================
Posting-success Page Style
========================================================================== */
.posting .alert {
margin-bottom: 0;
}

.posting .postin-title {
font-weight: 400;
font-size: 22px;
line-height: 30px;
}

.posting .alert-success {
color: #fff;
background-color: #2e3192;
border-color: #eee;
border-radius: 0;
padding: 20px;
}

.posting p {
margin-left: 25px;
}

/* ==========================================================================
Notification Page Style
========================================================================== */
.box-notification-content {
padding: 15px 15px 15px 20px;
margin-top: 20px;
margin-bottom: 40px;
width: auto;
font-size: 13px;
background: #FFFBCC;
border: 1px solid #F2EEC0;
color: #8F8838;
}

.box-error-content {
background: #FFCECE;
border: 1px solid #EFBFBF;
color: #833;
padding: 15px 15px 15px 20px;
margin-top: 10px;
margin-bottom: 30px;
width: auto;
font-size: 13px;
}

.box-download-content {
background: #E3F4DE;
border: 1px solid #CDDCC9;
color: #98C58A;
padding: 15px 15px 15px 20px;
margin-top: 10px;
margin-bottom: 30px;
width: auto;
font-size: 13px;
}

.box-information-content {
background: #D5EAF5;
border: 1px solid #C5D9E3;
color: #2F81B0;
padding: 15px 15px 15px 20px;
margin-top: 10px;
margin-bottom: 30px;
width: auto;
font-size: 13;
}

/* ==========================================================================
Account Archived ADS pages style
========================================================================== */
.collapse-box {
margin-bottom: 15px;
}

.collapset-title {
border-top: 1px solid #eee;
color: #444;
font-size: 14px;
font-weight: normal;
letter-spacing: 1px;
margin-bottom: 0px;
margin-top: 0px;
padding-bottom: 10px;
padding-top: 15px;
text-transform: uppercase;
}

.no-border {
border: none;
}

.user-panel-sidebar ul {
padding: 0;
}

.user-panel-sidebar ul li a {
background: #FFF;
display: block;
color: #444;
font-size: 12px;
letter-spacing: 0.5px;
line-height: 26px;
padding: 5px 10px;
text-align: left;
border-bottom: 1px solid #eee;
}

.user-panel-sidebar ul li a:hover,
.user-panel-sidebar ul li a:active,
.user-panel-sidebar ul li.active a {
background-color: #2e3192;
color: #fff;
}

.user-panel-sidebar ul li a:hover .badge,
.user-panel-sidebar ul li a:focus .badge,
.user-panel-sidebar ul li.active a .badge {
color: #fff;
}

.user-panel-sidebar ul li:last-child a {
border-bottom: none;
}

.collapse-box .badge {
float: right;
background-color: transparent;
color: #888;
font-size: 11px;
line-height: 20px;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
}

.table-search .control-label {

padding-right: 0;
}

.searchpan input#filter {
font-size: 12px;
height: 30px;
}

.clear-filter {
font-size: 11px;
}

.add-img-td img {
width: 100%;
}

.table-action {
display: block;
margin-bottom: 15px;
}

table.add-manage-table > tbody > tr > td,
table.add-manage-table > tbody > tr > th {
vertical-align: middle;
}

.table > thead > tr > th {
border-bottom: none;
color: #2e3192;
}

.table > thead > tr > th:nth-of-type(3n+1) {
text-align: center;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
background: #f3f3f3 !important;
}

.ads-details-td h4 {
font-size: 15px;
margin-bottom: 6px;
}

.ads-details-td strong {
font-size: 13px;
color: #444;
}

.ads-details-td sapn {
color: #888;
}

.add-image i {
padding-right: 3px;
}

.price-td {
text-align: center;
color: #888;
}

.add-img-selector {
width: 2%;
}

.add-img-td {
width: 20%;
}

.ads-details-td {
width: 60%;
}

.price-td {
width: 16%;
}

.action-td {
width: 10%;
}

.photo-count {
background: none repeat scroll 0 0 #ccc;
border: 0 none;
border-radius: 0;
font-size: 12px;
opacity: 0.9;
padding: 0 3px;
position: absolute;
right: 4px;
top: 5px;
}

/* ==========================================================================
Account home page
========================================================================== */
.usearadmin {
float: left;
}

.user-content {
margin-left: 90px;
}

.userimg {
border: 1px solid #eee;
display: inline-block;
width: 75px;
padding: 3px;
margin-right: 5px;
}

.usearadmin h3 {
font-size: 18px;
text-transform: uppercase;
}

.welcome-msg {
margin-bottom: 30px;
}

.pt {
margin-top: 15px;
}

/* ==========================================================================
Home page 2 style
========================================================================== */
.box-title h2 {
margin: 15px 0px;
padding: 0px;
font-size: 18px;
line-height: normal;
font-weight: 500;
text-transform: uppercase;
}

.sell-your-item {
color: #9A9A9A;
font-size: 12px;
font-weight: normal;
letter-spacing: 0.54px;
padding: 20px 15px;
position: absolute;
right: 5px;
text-align: center;
text-transform: uppercase;
top: 5px;
}

.f-category {
border: 1px solid #eee;
margin-top: -1px;
background: #FFF;
padding: 15px;
text-align: center;
overflow: hidden;
display: block;
margin-right: -1px;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.f-category .icon {
border-bottom: 10px;
}

.f-category .icon i {
font-size: 40px;
}

.f-category h6 {
color: #444;
font-size: 14px;
letter-spacing: 0;
margin: 10px 0;
}

.f-category img {
display: inline-block;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.f-category:hover {
background: #2e3192;
}

.f-category:hover .icon i {
color: #fff;
}

.f-category:hover h6 {
color: #fff;
}

.i-category {
padding: 30px 15px;
}

.item-list.make-grid {
float: left;
clear: none;
width: 23%;
height: 536px;
margin-right: 16px;
}

.item-list.make-grid .photobox,
.item-list.make-grid .add-desc-box,
.item-list.make-grid .price-box {
flex: 100%;
max-width: 100%;
clear: both;
}

.item-list.make-grid .add-desc-box {
padding: 10px 0;
}

.item-list.make-grid .price-box {
text-align: left;
padding-left: 0px;
padding-right: 0px;
}

.ads-details-wrapper h2 {
font-size: 16px;
line-height: 30px;
}

.ads-details-wrapper .item-intro {
margin-bottom: 15px;
}

.ads-details-wrapper .item-intro .poster {
color: #999;
font-size: 12px;
}

.ads-details-wrapper .owl-dots {
text-align: center;
margin-top: 10px;
}

.ads-details-wrapper .owl-dots .owl-dot {
display: inline-block;
}

.ads-details-wrapper .owl-dots span {
display: block;
width: 12px;
height: 12px;
margin: -5px 8px;
filter: alpha(opacity=50);
opacity: 1;
border-radius: 30px;
background: #f1f1f1;
border: 2px solid #fff;
box-shadow: 0px 0px 3px rgba(66, 68, 67, 0.55);
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

.ads-details-wrapper .owl-dots span:hover {
background: #2e3192;
}

.ads-details-wrapper .owl-dots .active span {
background: #2e3192 !important;
}

.ads-details-info h4 {
font-size: 15px;
padding: 10px 0;
}

.list-border li {
line-height: 30px;
}

.fallback-inner {
background: #f1f1f1;
text-align: center;
padding: 50px;
}

.fallback-inner .query-input {
margin-bottom: 30px;
}

.fallback-inner .buttons {
margin-bottom: 30px;
}

.fallback-content h2 {
font-size: 26px;
line-height: 38px;
}

.app {
background: url("../img/bg/app-bg.jpg") fixed;
background-size: cover;
color: #fff;
padding: 80px 0;
position: relative;
}

.app::before {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(55, 66, 73, 0.6);
z-index: 99;
}

.app .app-inner h2 {
font-size: 45px;
font-weight: 100;
line-height: 55px;
color: #fff;
margin-bottom: 15px;
}

.app .app-inner .description {
margin-bottom: 30px;
}

.app .app-inner .description h4 {
color: #fff;
font-size: 15px;
font-weight: 400;
}

.app .app-inner .description p {
color: #fff;
}

.app .app-inner .btn {
margin-right: 20px;
}

.back-to-top {
display: none;
position: fixed;
bottom: 18px;
right: 15px;
}

.back-to-top i {
display: block;
width: 36px;
height: 36px;
line-height: 36px;
color: #fff;
font-size: 22px;
text-align: center;
background-color: #2e3192;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.image-preview-input {
position: relative;
overflow: hidden;
margin: 0px;
color: #333;
background-color: #fff;
border-color: #ccc;
}

.image-preview-input input[type=file] {
position: absolute;
top: 0;
right: 0;
margin: 0;
padding: 0;
font-size: 20px;
cursor: pointer;
opacity: 0;
filter: alpha(opacity=0);
}

.sidebar-box {
width: 100%;
display: inline-block;
box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
margin-bottom: 30px;
}

.sidebar-box .user {
text-align: center;
width: 100%;
padding: 30px 20px 50px;
position: relative;
margin-bottom: 5px;
background: #2e3192;
}

.sidebar-box .user figure {
margin: 0;
position: relative;
border-radius: 50%;
background-clip: padding-box;
border: 5px solid #2e3192;
bottom: -38px;
float: left;
height: 80px;
width: 80px;
left: 38%;
position: absolute;
-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.sidebar-box .user figure img {
border-radius: 50%;
border: 2px solid #fff;
}

.sidebar-box .user .usercontent {
padding: 15px 0px 0px;
}

.sidebar-box .user .usercontent h3 {
color: #fff;
font-size: 15px;
font-weight: 700;
line-height: 16px;
margin-bottom: 8px;
}

.sidebar-box .user .usercontent h4 {
color: #f1f1f1;
font-size: 14px;
font-weight: 400;
line-height: 14px;
}

.sidebar-box .navdashboard {
padding-top: 50px;
}

.sidebar-box .navdashboard ul {
width: 100%;
}

.sidebar-box .navdashboard ul li {
margin: 0;
width: 100%;
float: left;
position: relative;
line-height: 48px;
border-bottom: 1px solid #f1f1f1;
}

.sidebar-box .navdashboard ul li a {
color: #444;
width: 100%;
float: left;
line-height: inherit;
}

.sidebar-box .navdashboard ul li a span {
text-align: left;
}

.sidebar-box .navdashboard ul li a i {
width: 58px;
display: inline-block;
font-size: 20px;
text-align: center;
vertical-align: middle;
}

.sidebar-box .navdashboard ul li a:focus,
.sidebar-box .navdashboard ul li a:hover,
.sidebar-box .navdashboard ul li a.active {
background: #2e3192;
color: #fff;
}

.sidebar-box .navdashboard ul li a:focus i,
.sidebar-box .navdashboard ul li a:hover i,
.sidebar-box .navdashboard ul li a.active i {
color: #fff;
}

#editor {
position: relative;
}

#editor .panel-default .panel-heading {
padding: 10px;
border-radius: 4px;
background: transparent;
border: none;
}

#editor .note-editor.note-frame {
border: 1px solid #ddd;
}

#editor .btn {
color: #444;
}

#editor .popover {
display: none;
}

.note-Top {
display: none;
}

.tg-fileuploadlabel {
width: 100%;
padding: 30px;
color: #363b4d;
font-size: 14px;
line-height: 17px;
margin: 0 0 10px;
cursor: pointer;
border-radius: 5px;
border: 3px dashed #eaedef;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-align-content: center;
-ms-flex-line-pack: center;
align-content: center;
}

.tg-fileuploadlabel span {
display: block;
margin-bottom: 15px;
}

.tg-fileuploadlabel span:first-child {
font-size: 18px;
font-weight: 500;
line-height: 22px;
}

.tg-fileuploadlabel span:first-child(2) {
padding: 15px 0;
}

.tg-fileuploadlabel span:first-child(4) {
color: #363b4d;
font-size: 13px;
line-height: 16px;
margin: 30px 0 0;
}

.tg-fileuploadlabel input[type=file].fileinput {
display: none;
}

.tg-fileuploadlabel .btn {
color: #fff;
padding: 10px 50px;
position: relative;
text-align: center;
margin-bottom: 20px;
overflow: hidden;
border-radius: 23px;
display: inline-block;
vertical-align: middle;
text-transform: capitalize;
}

#tg-photogallery {
display: none;
}

.tg-inputwithicon .tg-select {
color: #666;
width: 100%;
position: relative;
text-transform: uppercase;
}

.tg-inputwithicon .tg-select i {
font-size: 15px;
position: absolute;
top: 16px;
background-color: transparent;
color: #444;
right: 15px;
z-index: 99;
}

.tg-inputwithicon .tg-select select {
border: 0;
border-radius: 0;
font-size: 14px;
width: 100%;
font-weight: 400;
color: #333;
background: #ffffff;
z-index: 1;
width: 100%;
position: relative;
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
}

#carousel-area {
overflow: hidden;
background: #2c3e50;
margin-top: 75px;
}

#carousel-area .carousel-inner .carousel-item {
opacity: 0.3;
width: 100%;
overflow: hidden;
transition-property: opacity;
transition-duration: 1s;
}

#carousel-area .carousel-inner .active {
opacity: 1;
}

#carousel-area .carousel-inner .active.left, #carousel-area .carousel-inner .active.right {
left: 0;
opacity: 0;
z-index: 1;
}

#carousel-area .carousel-inner .next.left, #carousel-area .carousel-inner .prev.right {
opacity: 1;
}

#carousel-area .carousel-control {
z-index: 2;
}

#carousel-area .carousel-item img {
position: relative;
width: 100%;
max-height: 670px;
}

#carousel-area .carousel-item .carousel-caption {
top: 30%;
right: 10%;
left: 10%;
padding-top: 0px;
padding-bottom: 0px;
text-shadow: none;
}

#carousel-area .carousel-item .carousel-caption h2 {
font-size: 50px;
margin-bottom: 20px;
text-transform: uppercase;
}

#carousel-area .carousel-item .carousel-caption p {
color: #fff;
font-size: 16px;
font-weight: 400;
}

#carousel-area .carousel-item .carousel-caption .btn {
margin: 30px 0px;
}

#carousel-area .active {
opacity: 1;
}

#carousel-area .active.left, #carousel-area .active.right {
left: 0;
opacity: 0;
z-index: 1;
}

#carousel-area .carousel-control {
z-index: 10;
font-size: 50px;
top: 50%;
}

#carousel-area .carousel-control-prev-icon {
left: 5%;
}

#carousel-area .carousel-control-next-icon {
right: 5%;
background-position: -150px 0px !important;
}

#carousel-area .carousel-indicators {
bottom: 5px;
}

#carousel-area .carousel-indicators li {
border-radius: 0px;
width: 32px;
height: 5px;
margin: 0 5px;
background: rgba(253, 254, 255, 0.8);
cursor: pointer;
border: none;
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

#carousel-area .carousel-indicators li:hover, #carousel-area .carousel-indicators li.active {
opacity: 1;
background: #2e3192;
}

#carousel-area:hover .carousel-control {
display: block;
}

#carousel-area i {
margin-right: 5px;
}

/* Services Item */
.services-item {
background: #fff;
margin: 15px 0;
padding: 30px;
border-radius: 4px;
text-align: left;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
-webkit-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon i {
font-size: 42px;
color: #2e3192;
}

.services-item .services-content h3 {
font-weight: 600;
text-transform: uppercase;
margin-bottom: 10px;
}

.services-item .services-content h3 a {
font-size: 18px;
color: #585b60;
}

.services-item .services-content h3 a:hover {
color: #2e3192;
}

.services-item:hover {
box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

#service {
position: relative;
}

/* Container Outside Shape */
.container-outside {
position: absolute;
top: 0;
right: 0;
width: 47.1%;
height: 100%;
background: #2e3192;
overflow: hidden;
}

.heading {
padding-left: 30px;
}

.d-table {
display: table;
width: 100%;
height: 100%;
}

.dt-cell {
display: table-cell;
vertical-align: middle;
}

.skill-area img {
border-radius: 4px;
}

.skills-section {
margin-top: 30px;
}

.skills-section .progress-box h5 {
color: #222222;
font-size: 14px;
text-transform: uppercase;
font-weight: 600;
}

.skills-section .progress {
background: #f9f9f9;
height: 10px;
margin-bottom: 30px;
}

.skills-section .progress .progress-bar {
background: #2e3192;
}

.navbar-brand {
position: relative;
padding: 0px;
}

.top-nav-collapse {
background: #fff;
z-index: 999999;
top: 0px !important;
box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
background: #fff !important;
-webkit-animation-duration: 1s;
animation-duration: 1s;
}

.top-nav-collapse .navbar-brand {
top: 0px;
}

.top-nav-collapse .navbar-brand img {
width: 70%;
}

.top-nav-collapse .navbar-nav .nav-link {
color: #585b60 !important;
margin-top: 0px !important;
margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
cursor: pointer;
color: #2e3192 !important;
border-color: #2e3192 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
color: #2e3192 !important;
}

.navbar-expand-lg .navbar-toggler {
background: transparent;
border: 1px solid #2e3192;
color: #2e3192;
border-radius: 4px;
cursor: pointer;
}

.navbar-brand img {
width: 70%;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
color: #2e3192 !important;
border-color: #2e3192;
}

.bg-inverse {
background: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link i {
font-size: 14px;
margin-left: 5px;
vertical-align: middle;
}

.navbar-expand-lg .navbar-nav .nav-link {
color: #333;
font-weight: 400;
cursor: pointer;
position: relative;
text-transform: uppercase;
background: transparent;
-moz-transition: color .3s linear;
-webkit-transition: color .3s linear;
-o-transition: color .3s linear;
transition: color .3s linear;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
color: #fff;
outline: none;
}

.navbar-expand-lg .navbar-nav .active > .nav-link,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link.open,
.navbar-expand-lg .navbar-nav .open > .nav-link {
color: #2e3192 !important;
width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link:hover::before,
.navbar-expand-lg .navbar-nav .nav-link:focus {
color: #2e3192;
width: 100%;
transition: width 1s;
-webkit-transition: width 1s;
-ms-transition: width 1s;
}

.navbar-header {
position: relative;
padding: 10px 0;
float: left;
margin: 0 !important;
width: 200px;
}

.navbar-expand-lg .navbar-nav {
position: relative;
-moz-transition: color .3s linear;
-webkit-transition: color .3s linear;
-o-transition: color .3s linear;
transition: color .3s linear;
}

.navbar-expand-lg .navbar-nav .nav-link {
color: #444;
line-height: normal;
border-radius: 4px;
padding: 30px 10px;
font-size: 14px;
outline: 0;
letter-spacing: 0.3px;
-moz-transition: color .3s linear;
-webkit-transition: color .3s linear;
-o-transition: color .3s linear;
transition: color .3s linear;
}

.navbar-expand-lg .navbar-nav > li a:hover,
.navbar-expand-lg .navbar-nav > li a.active,
.navbar-expand-lg .navbar-nav > li a:focus {
color: #3498db;
}

.navbar-expand-lg .navbar-nav > li a i {
margin-right: 3px;
}

.navbar {
padding: 0;
}

.navbar li.active a.nav-link {
color: #3498db;
}

.navbar .theme-header {
width: 100%;
}

.dropdown-toggle::after {
display: none;
}

.dropdown-menu {
margin: 0;
padding: 0;
display: none;
position: absolute;
z-index: 99;
min-width: 180px;
border: none;
background-color: #fff;
border-top: 1px solid #2e3192;
white-space: nowrap;
border-radius: 0px;
-webkit-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.08);
box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.08);
animation: fadeIn 0.4s;
-webkit-animation: fadeIn 0.4s;
-moz-animation: fadeIn 0.4s;
-o-animation: fadeIn 0.4s;
-ms-animation: fadeIn 0.4s;
}

.dropdown:hover .dropdown-menu {
display: block;
position: absolute;
text-align: left;
top: 100%;
animation: fadeIn 0.4s;
-webkit-animation: fadeIn 0.4s;
-moz-animation: fadeIn 0.4s;
-o-animation: fadeIn 0.4s;
-ms-animation: fadeIn 0.4s;
background: #ffffff;
}

.dropdown .dropdown-menu .dropdown-item {
width: 100%;
padding: 10px 20px;
border-radius: 0px;
font-size: 14px;
margin: 0;
color: #444;
text-decoration: none;
display: inline-block;
letter-spacing: 0.5px;
clear: both;
position: relative;
outline: 0;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
background: #2e3192;
color: #fff !important;
}

.dropdown-item.active, .dropdown-item:active {
background: transparent;
}

.fadeInUpMenu {
-webkit-animation-name: fadeInUpMenu;
animation-name: fadeInUpMenu;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
#nav-main li a.nav-link {
padding-top: 18px;
}
}

.navbar-toggler {
display: none;
}

.slicknav_menu {
display: none;
background: #ffffff;
padding: 0px 20px;
text-align: left;
}

.slicknav_brand {
float: left;
line-height: inherit;
padding: 7px 0;
height: auto;
width: 150px;
}

.slicknav_btn {
margin: 14px 0;
background-color: #2e3192;
padding: 8px 9px 7px;
}

.slicknav_nav {
overflow: auto;
max-height: 350px;
}

.slicknav_menu .slicknav_icon-bar {
background: #ffffff;
}

.slicknav_nav ul {
margin: 0;
}

.slicknav_nav a,
.slicknav_nav .slicknav_row,
.slicknav_nav a {
padding: 10px 0;
font-size: 14px;
-webkit-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

.slicknav_parent ul {
margin-left: 15px;
}

.slicknav_parent ul a {
font-size: 14px;
text-transform: capitalize;
border-bottom: 0;
font-weight: 400;
}

.slicknav_nav a:hover a,
.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_item a:hover,
.slicknav_nav .slicknav_parent-link a:hover {
background-color: transparent;
color: #2e3192;
}

.slicknav_nav .slicknav_arrow {
float: right;
color: #444;
}

.slicknav_nav a h3 {
font-size: 14px;
display: inline;
text-transform: capitalize;
font-weight: 500;
}

.slicknav_menu li p {
display: none;
}

.sticky-menu {
position: fixed;
top: 0;
left: 0;
right: 0;
width: auto;
z-index: 99;
background-color: #fff;
-webkit-animation: slideInDown;
animation: slideInDown;
-webkit-animation-duration: 0.6s;
animation-duration: 0.6s;
-webkit-box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.4);
box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.4);
}

@media (max-width: 991px) {
.slicknav_menu {
display: block;
width: 100%;
}
.theme-header {
display: none;
}
.mobile-menu {
width: 100%;
}
.dropdown-menu {
position: relative;
background: transparent;
}
.dropdown:hover .dropdown-menu {
position: relative;
background: transparent;
}
.dropdown .dropdown-menu .dropdown-item {
border-radius: 0px;
}
.dropdown-menu:before {
display: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
padding: 10px 15px;
line-height: 22px;
}
.top-nav-collapse .navbar-nav .nav-link {
color: #444 !important;
}
}

@media (max-width: 767px) {
.sticky-menu {
margin: 0;
}
}

/* ==========================================================================
Header Style
========================================================================== */
.navbar-default {
margin-bottom: 0;
background: transparent;
border: none;
border-radius: 0;
border-bottom: 1px solid #ddd;
}

.navbar-expand-lg .navbar-nav > li.postadd {
padding-left: 0px;
}

.navbar-expand-lg .navbar-nav > li.postadd a {
box-sizing: border-box;
color: #FFF;
font-size: 13px;
height: 40px;
line-height: normal;
text-transform: uppercase;
margin-top: 20px;
line-height: 20px;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
}

.navbar-expand-lg .navbar-nav > li.postadd a:hover {
color: #fff;
background: #40439b;
}

.navbar-expand-lg .navbar-nav > li.postadd a:focus {
color: #fff;
background: #40439b;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
background: transparent;
color: #3498db;
}

.navbar-default li > ul.user-menu {
padding: 0;
min-width: 170px;
border-radius: 0;
}

.navbar-default li > ul.user-menu li a {
font-size: 11px;
display: block;
border-bottom: 1px solid #eee;
font-weight: 400;
padding: 6px 10px;
}

.navbar-default li > ul.user-menu li a i {
margin-right: 8px;
}

.li .dropdown-menu.user-menu > .active > a,
.dropdown-menu.user-menu > .active > a:focus {
background: #ddd;
color: #444;
font-weight: 700;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
background-color: #eee;
}

.navbar-default .navbar-toggle {
border-color: #eee;
border-radius: 0;
}

.title-menu {
font-size: 15px;
padding: 12px 15px;
border-bottom: 1px solid #eee;
text-transform: uppercase;
}

.navmenu, .navbar-offcanvas {
width: 180px;
z-index: 99999;
}

.navmenu-default, .navbar-default .navbar-offcanvas {
background-color: #fff;
border-left: 1px solid #eee;
}

.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
color: #2e3192;
background-color: transparent;
}

.nav > li {
position: relative;
display: block;
width: 100%;
}

.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
color: #444;
padding: 0px 15px;
width: 100%;
display: inline-block;
font-size: 12px;
border-bottom: 1px solid #eee;
}

nav#menu span.fa.fa-bars:hover {
color: #2e3192;
}

.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
color: #2e3192;
}

.navbar .navbar-nav > li > .dropdown-menu {
margin-top: 0;
}

.close {
background: transparent;
padding: 8px 12px;
opacity: 1;
}

.close i {
background: #E74C3C;
color: #fff;
padding: 6px;
font-size: 16px;
}

/* ==========================================================================
Counter Style
========================================================================== */
#counter {
background: url("../img/bg/small-banniere.jpg") center center no-repeat;
background-size: cover;
color: #fff;
padding: 60px 0;
text-align: center;
}

.counting .icon {
margin-bottom: 10px;
}

.counting .icon span {
display: inline-block;
border: 3px solid #fff;
text-align: center;
width: 80px;
background: #444;
height: 80px;
border-radius: 50%;
position: relative;
overflow: hidden;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
}

.counting .icon span i {
color: #fff;
display: inline-block;
font-size: 30px;
line-height: 80px;
z-index: 99;
text-shadow: 5px 5px 2px rgba(56, 49, 49, 0.5);
}

.counting .desc h3 {
font-size: 24px;
color: #fff;
}

.counting .desc p {
font-size: 16px;
}

.counting:hover span {
background: #2e3192;
-webkit-transform: scale(1.1, 1.1);
-moz-transform: scale(1.1, 1.1);
-ms-transform: scale(1.1, 1.1);
-o-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}

/* ==========================================================================
Pricing Table Style
========================================================================== */
.mainHeading {
text-align: center;
margin-bottom: 20px;
}

.mainHeading .section-title {
font-size: 24px;
letter-spacing: 0.1em;
padding: 20px 0px;
text-transform: uppercase;
font-weight: 400;
}

#pricing-table {
background: #ffffff;
text-align: center;
}

#pricing-table .title {
padding-top: 25px;
padding-bottom: 20px;
}

#pricing-table .title h1 {
font-size: 48px;
color: #888;
font-weight: normal;
line-height: 40px;
}

#pricing-table .title h3 {
color: #444;
text-transform: uppercase;
font-size: 24px;
margin-bottom: 0px;
}

#pricing-table .table {
padding-bottom: 50px;
border: 1px solid #eee;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
}

#pricing-table .table .pricing-header {
position: relative;
padding: 30px 0px;
background: #FAFAFA none repeat scroll 0% 0%;
text-align: center;
border-bottom: 1px solid #eee;
border-top: 1px solid #eee;
margin-bottom: 50px;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
}

#pricing-table .table .pricing-header .price-value {
font-size: 64px;
color: #2e3192;
position: relative;
text-align: center;
font-weight: 700;
line-height: 62px;
}

#pricing-table .table .pricing-header .price-value sup {
font-size: 24px;
position: relative;
top: -24px;
font-weight: 400;
}

#pricing-table .table .pricing-header .price-quality {
font-size: 14px;
color: #888;
}

#pricing-table .table .description {
text-align: center;
padding: 0px 50px;
margin-bottom: 50px;
}

#pricing-table .table .description li {
font-size: 14px;
color: #888;
border-bottom: 1px solid #eee;
padding-bottom: 10px;
margin-bottom: 10px;
}

#pricing-table .table .description i {
color: #2e3192;
margin-right: 5px;
}

#pricing-table .table:hover {
border: 1px solid #2e3192;
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#pricing-table .table:hover .pricing-header {
background: #2e3192;
}

#pricing-table .table:hover .pricing-header .price-value {
color: #ffffff;
}

#pricing-table .table:hover .pricing-header .price-quality {
color: #ffffff;
}

#pricing-table #active-tb {
border: 1px solid #2e3192;
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#pricing-table #active-tb .pricing-header {
background: #2e3192;
}

#pricing-table #active-tb .pricing-header .price-value {
color: #ffffff;
}

#pricing-table #active-tb .pricing-header .price-quality {
color: #ffffff;
}

.post-title {
font-size: 38px;
font-weight: 700;
margin-bottom: 10px;
}

.post-title a {
color: #444;
}

.post-title a:hover {
color: #2e3192;
}

.blog-post {
margin-bottom: 40px;
}

.blog-post .post-thumb {
position: relative;
}

.blog-post .post-thumb .hover-wrap {
position: absolute;
left: 0;
top: 0;
display: block;
width: 100%;
text-align: center;
height: 100%;
background: rgba(246, 246, 246, 0.5);
opacity: 0;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.blog-post .post-thumb:hover .hover-wrap {
opacity: 1;
}

.blog-post .post-content {
width: 100%;
padding: 30px;
border: 1px solid #eee;
}

.blog-post .post-content .meta {
font-size: 13px;
margin-bottom: 10px;
}

.blog-post .post-content .meta i {
margin-right: 4px;
}

.blog-post .post-content .meta .meta-part {
display: inline-block;
border-right: 1px solid #e2e2e2;
margin-right: 10px;
padding-right: 10px;
}

.blog-post .post-content .meta .meta-part a {
color: #888;
}

.blog-post .post-content .meta .meta-part:last-child {
border-right: none;
}

.blog-post .post-content p {
color: #888;
}

.quote-post .quote-wrap {
text-align: center;
padding: 50px 0;
font-size: 25px;
font-style: italic;
font-weight: 400;
background: #F7F7F7;
}

.quote-post .quote-wrap blockquote {
border-left: none;
font-size: 25px;
line-height: 30px;
}

.video-post .video-wrapper {
width: 100%;
position: relative;
padding: 0px;
}

.video-post .video-wrapper iframe {
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
border: none;
}

/* ==========================================================================
Sidebar Styles
========================================================================== */
.right-sidebar {
padding-left: 20px;
}

.search {
width: 100%;
margin-bottom: 0px !important;
position: relative;
}

.search-btn {
position: absolute;
top: 12px;
right: 30px;
border: none;
background: transparent;
}

.search-btn i {
color: #888;
}

#sidebar {
margin-bottom: 30px;
}

#sidebar .widget {
border: 1px solid #eee;
padding: 20px 28px;
margin-bottom: 30px;
}

#sidebar .posts-list li {
margin-bottom: 12px;
padding-bottom: 12px;
border-bottom: 1px solid #CCC;
}

#sidebar .posts-list li:last-child {
margin: 0;
padding: 0;
border: none;
}

#sidebar .posts-list .widget-thumb {
float: left;
}

#sidebar .posts-list .widget-thumb a {
display: block;
}

#sidebar .posts-list .widget-thumb a img {
border: 1px solid #CCC;
padding: 3px;
margin: 5px 15px 0 0;
transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
}

#sidebar .posts-list .widget-thumb:hover img {
border-color: #2e3192;
}

#sidebar .posts-list .widget-content a {
font-weight: 400;
color: #333;
font-size: 14px;
}

#sidebar .posts-list .widget-content span {
color: #666;
font-size: 12px;
display: block;
margin: 3px 0;
}

#sidebar .posts-list .widget-content span i {
padding-right: 5px;
}

#sidebar .tag a {
display: inline-block;
font-size: 12px;
color: #333;
padding: 7px 12px;
border: 1px solid #CCC;
margin: 4px 1px;
border-radius: 0x;
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

#sidebar .tag a i {
padding-right: 5px;
}

#sidebar .tag a:hover {
border-color: #2e3192;
color: #fff;
background: #2e3192;
}

.single-post p {
margin-bottom: 20px !important;
}

.single-post blockquote {
border-left: none;
text-align: center;
padding: 30px;
background: #2e3192;
}

.single-post blockquote .quote-text {
font-size: 20px;
font-weight: 400;
color: #FFF;
line-height: 34px;
}

.single-post blockquote p {
margin-top: 10px;
margin-bottom: 0px !important;
}

.single-post blockquote p a {
color: #fff;
}

.single-post blockquote p a:hover {
color: #fff;
}

.author .author-img {
float: left;
margin-right: 30px;
}

.author .author-text .author-title {
width: 100%;
height: 34px;
}

.author .author-text h3 {
font-size: 22px;
font-weight: 400;
margin-bottom: 26px;
}

.author .author-text p {
color: #888;
line-height: 26px;
}

#comments h3 {
font-size: 20px;
font-weight: 400;
}

#comments .comments-list {
padding: 0;
margin: 0 0 35px 0;
}

#comments .comments-list .media {
padding: 30px 0;
border-bottom: 1px solid #ddd;
}

#comments .comments-list .media .thumb-left {
float: left;
width: 200px;
}

#comments .comments-list .media .thumb-left img {
border-radius: 4px;
}

#comments .comments-list .media .info-body {
margin-left: 20px;
}

#comments .comments-list .media .info-body .name {
font-size: 16px;
font-weight: 700;
float: left;
line-height: 25px;
margin-right: 10px;
}

#comments .comments-list .media .info-body .media-heading {
display: inline-block;
width: 100%;
}

#comments .comments-list .media .info-body .comment-date {
font-weight: 600;
color: #888;
margin-left: 5px;
font-size: 12px;
}

#comments .comments-list li ul {
padding-left: 85px;
}

.reply-link {
color: #888;
border-radius: 0px;
font-size: 14px;
float: right;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.respond-title {
font-size: 20px;
font-weight: 400;
padding: 0px 0px 30px;
}

.main-desc {
margin-bottom: 30px;
}

.main-desc p {
font-size: 26px;
font-weight: 400;
line-height: 36px;
}

.projects-carousel .owl-controls .owl-buttons {
right: 9px;
}

.social-link a {
color: #CACACA;
text-align: center;
width: 32px;
border: 1px solid #CACACA;
line-height: 32px;
border-radius: 0px;
display: inline-block;
height: 32px;
}

.social-link .facebook:hover {
color: #3b5998;
border-color: #3b5998;
}

.social-link .twitter:hover {
color: #55acee;
border-color: #55acee;
}

.social-link .google:hover {
color: #dd4b39;
border-color: #dd4b39;
}

.social-link .linkedin:hover {
color: #007bb5;
border-color: #007bb5;
}

.head-faq {
margin-bottom: 20px;
}

.panel-group .panel {
margin-bottom: 24px;
}

.panel-default {
border-radius: 0px;
border: none;
}

.panel-default .panel-heading {
padding: 0px 30px;
outline: medium none;
border-radius: 0px;
background: #E6E6E6;
border: 1px solid #ccc;
width: 100%;
box-shadow: none;
}

.panel-default .panel-heading .panel-title {
margin-top: 0px;
margin-bottom: 0px;
font-size: 16px;
color: inherit;
}

.panel-default .panel-heading a {
font-size: 15px;
font-weight: 400;
padding: 15px 35px 15px 0px;
display: inline-block;
width: 100%;
color: #444;
position: relative;
text-decoration: none;
}

.panel-default .panel-heading a:after {
font-family: 'Linearicons-Free';
content: "\e881";
position: absolute;
right: 15px;
color: #2e3192;
font-size: 14px;
font-weight: 300;
top: 50%;
line-height: 1;
margin-top: -7px;
}

.panel-default .panel-heading .collapsed:after {
content: "\e882";
}

.panel-default .panel-collapse .panel-body {
padding: 15px 30px;
background-color: #fff;
border: 1px solid #ccc;
}

.contact-form,
.information {
margin-top: 40px;
}

.contact-datails {
margin-bottom: 12px;
min-height: 75px;
position: relative;
}

.contact-datails .icon {
position: absolute;
}

.contact-datails .icon i {
font-size: 18px;
}

.contact-datails .info {
padding-left: 30px;
}

.contact-datails .info h3 {
font-size: 15px;
display: block;
text-transform: uppercase;
}

.contact-datails .info .datail {
display: block;
color: #888;
}

.form-control {
background-color: #FFF;
border: 1px solid #EEE;
border-radius: 0;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.075);
color: #444;
display: block;
padding: 10px;
width: 100%;
}

.input-icon input {
padding-left: 40px;
}

.input-icon {
position: relative;
}

.login-form .input-icon i {
color: #444;
opacity: 0.6;
border-right: 1px solid #ccc;
padding-right: 10px;
}

.input-icon i {
font-size: 15px;
left: 12px;
line-height: 22px;
margin-top: -11px;
position: absolute;
top: 50%;
}

.form-control:focus,
textarea:focus {
box-shadow: none;
border: 1px solid #2e3192;
outline: none;
}

.has-error .form-control:focus {
box-shadow: none;
}

.addon {
font-size: 20px;
color: #888;
border-radius: 0px;
width: 32px !important;
}

.box {
padding: 15px;
border: 1px solid #ddd;
box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.075);
}

.page-login-form h3 {
font-size: 18px;
color: #444;
line-height: 18px;
padding: 15px 0 30px;
text-transform: uppercase;
text-align: center;
}

.page-login-form .login-form .form-control {
background: #ffffff !important;
padding-left: 54px;
padding-bottom: 10px !important;

}

.page-login-form .log-btn {
width: 100%;
padding: 12px 22px;
margin: 0px 0px 20px;
letter-spacing: 1;
text-transform: capitalize;
font-size: 16px;
}

.page-login-form .form-links {
width: 100%;
height: 25px;
}

.page-login-form .form-links li {
display: inline-block;
}

.page-login-form .form-links li a {
color: #999;
}

.page-login-form .form-links li a:hover {
color: #2e3192;
}

.page-login-form .checkbox {
margin-bottom: 10px;
}



.page-login-form .checkbox label {
cursor: pointer;
position: relative;
padding-left: 25px;
margin-bottom: 5px;
color: #797979;
}

.page-login-form .checkbox label:before {
content: "\2022";
display: inline-block;
color: #cbcbcb;
width: 16px;
height: 16px;
margin-right: 10px;
position: absolute;
left: 0;
top: 5px;
border: 1px solid #e6e6e6;
border-radius: 8px;
font-size: 35px;
text-align: center;
line-height: 10px;
}

.page-login-form .checkbox input[type=checkbox]:checked + label:before {
content: "\2022";
color: #2e3192;
font-size: 35px;
text-align: center;
line-height: 10px;
}

.page-login-form .checkbox-inline + .checkbox-inline {
margin-left: 0;
}

.table-action .checkbox {
margin-top: 0;
float: left;
}

.subscribe .btn {
padding: 14px 22px;
}

.registration .form-group {
margin: 0;
}

.registration .form-group .lable {
margin-bottom: 10px;
}

.registration .form-group .form-control {
background: #ffffff !important;
}

.registration .btn {
padding: 7px 20px;
border: none;
}

.img-toggle {
  display: none;
}

.padding-0 {
padding: 0;
}

.form-ad .checkbox label {
margin-bottom: 0px;
}

.kv-file-zoom, .file-upload-indicator {
display: none;
}

.page-ads .title-2 {
color: #2e3192;
}

.control-label {
font-size: 14px;
color: #555;
font-weight: 700;
margin-bottom: 10px;
}

.btn-file input[type="file"] {
position: absolute;
top: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
text-align: right;
opacity: 0;
background: transparent none repeat scroll 0px 0px;
cursor: inherit;
display: block;
}

.file-caption {
height: 54px;
}

.mb15 {
margin-bottom: 15px;
}

.mb30 {
margin-bottom: 30px;
}

.red-bg {
background: #d9534f;
}

.red-bg .styled-select {
color: #fff;
}

.form-static {
display: inline-block;
margin-bottom: 0px;
vertical-align: middle;
}

.radio-inline {
margin-right: 5px;
}

/* ==========================================================================
Footer Style
========================================================================== */
footer .footer-Content {
background-color: #F8A037;
padding: 60px 0;
color: #fff;
}

.textwidget {
font-size: 14px;
font-weight: 300;
line-height: 24px;
color: #fff;
}

footer .menu {
padding-left: 0;
}

footer .menu li {
float: left;
width: 50%;
padding-bottom: 10px;
}

footer .menu li a {
color: #fff;
}

footer .menu li a:hover {
color: #2e3192;
}

.twitter-content ul li {
margin-bottom: 10px;
padding-bottom: 10px;
}

.twitter-content span {
float: left;
width: 224px;
}

.twitter-content span a {
color: #2e3192;
}

.featured-list {
margin: 0;
padding: 0;
display: inline-block;
}

.featured-list li {
float: left;
width: 70px;
height: 70px;
margin-right: 6px;
margin-bottom: 6px;
border: 4px solid #fff;
overflow: hidden;
position: relative;
}

.featured-list li .hover a {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(52, 152, 219, 0.8);
z-index: 1;
opacity: 0;
text-align: center;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
-o-transition: all .3s linear;
transition: all .3s linear;
}

.featured-list li .hover a span {
color: #FFF;
position: absolute;
top: 32%;
margin: 0px -15px;
}

.featured-list li .hover a:hover {
opacity: 1;
}

.bottom-social-icons a {
color: #fff;
text-align: center;
width: 32px;
line-height: 32px;
border-radius: 0px;
background: #444;
display: inline-block;
height: 32px;
position: relative;
overflow: hidden;
}

#copyright {
background-color: #393939;
padding: 20px 0 10px;
color: #fff;
}

#copyright p {
line-height: 34px;
}

#copyright p a {
color: #fff;
}

#copyright p a:hover {
color: #2e3192;
}

.social-icon a:hover {
color: #fff;
}

.social-icon .facebook:hover {
background-color: #3b5998;
}

.social-icon .twitter:hover {
background-color: #55acee;
}

.social-icon .dribble:hover {
background-color: #D34836;
}

.social-icon .flickr:hover {
background-color: #ff0084;
}

.social-icon .youtube:hover {
background-color: #CC181E;
}

.social-icon .google-plus:hover {
background-color: #dd4b39;
}

.social-icon .linkedin:hover {
background-color: #007bb5;
}

.rating input {
color: #aaa;
text-decoration: none;
font-size: 3em;
transition: color .4s;
}
.rating input:hover,
.rating input:focus {
color: orange;
cursor: pointer;
}

.map-container{
margin-top: 30px;
position: relative;
overflow: hidden;

}

.map-container p {
color: #000;

font-size: 14px;
font-weight: 300;
left: 25px;
position: absolute;
top: 50px;
}

.titreservice{
font-size:10px;
color: #3b5998;
}

.notefichier {
color:#F7941E;
}
.couleurtextefile{
color:#2E3192;
font-size: 12px;
font-weight: 600;
}

.ecartemmarge{
margin:35px 0 !important;
}

.commandetitle{
    font-size: 17px;
    color: #2e3192;
    font-weight: bold;
    margin-bottom: 12px;
    }

    .view-all{
      overflow: hidden;
      clear: both;
    }
.view-all  .container{
text-align: center;
overflow: hidden;
background: url("../img/bg/backg.jpg");
background-position: center;
background-repeat: no-repeat;

}

.view-all .container .element-container {
  margin: 70px auto 50px;
}
.view-all .container .element-container a{
width: 250px;
padding: 10px 10px;
height: 55px;
background: #2E3192;
color:white;
text-transform: uppercase;
border:none;
  font-weight: 700;
}
.view-all .container .element-container a:hover {
opacity: 0.5;
cursor: pointer;
background: #F7941E;
}
@media (max-width: 480px) {
  .view-all .container .element-container a:hover {
    opacity: 0.5;
    cursor: pointer;
    background: #F7941E;
    }
}

.view-all .container .element-container p{
   color:#FFF;
  font-weight: 700;
  padding: 6px 0;
  font-size: 1.125rem;
  max-width: 37.5rem;
  margin:0 auto;
  }

/*carrousel*/
.carousel-style {
  width: 80% !important;
  margin:  0 auto 50px !important;
  overflow: hidden;
  height:auto !important ;
  
}
.realisation{
  margin: 50px auto !important;
  text-align: center !important;
}

@media (max-width: 480px) {

  .carousel-style{
     height: 200px !important;
  }
     

}
 span.form_error{
       color: red;
 }

 @media (max-width: 480px) {

  .bloc-left{
     width: 100% !important;
  }
     
 }
 @media (max-width: 480px) {

  .widget-popular-posts{
     width: 100% !important;
  }
}
  #sidebar{
    margin:20px;
  }
  