{% extends 'base.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}
    <h1>Editer Prestation</h1>

    {{ include('prestation/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('prestation_index') }}">retour à la liste</a>


    {{ include('prestation/_delete_form.html.twig') }}
{% endblock %}
