{% extends 'base.html.twig' %}

{% block title %}Mes annonces
{% endblock %}

{% block body %}
	<!-- Page Header Start -->
	<div class="page-header" style="background: url(assets/img/banner1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-wrapper">
						<h2 class="page-title">My Ads</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Start Content -->
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-lg-4 page-sidebar">
					<aside>
						<div class="sidebar-box">
							<div class="user">
								<div class="usercontent">
									<h3>Michael Dam</h3>
									<h4>Administrator</h4>
								</div>
								<figure>
									<a href="#"><img class="-img-fluid" src="assets/img/author/img1.jpg" alt=""></a>
								</figure>
							</div>
							<nav class="navdashboard">
								<ul>
									<li>
										<a href="{{ path('compte') }}">
											<i class="fas fa-home"></i>
											<span>Mes Informations</span>
										</a>
									</li>
									{% if app.user != null and app.user.profil != 'Client'%}
										<li>
											<a class="active" href="{{ path('annonces') }}">
												<i class="fas fa-credit-card"></i>
												<span>Mes Annonces</span>
											</a>
										</li>
									{% endif %}
									<li>
										<a href="{{ path('favorit') }}">
											<i class="fas fa-heart"></i>
											<span>Mes Favoris
											</span>
										</a>
									</li>
									<li>
										<a href="{{ path('archive') }}">
											<i class="fas fa-folder"></i>
											<span>Mes Archives
											</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="widget">
							<h4 class="widget-title">Publicité</h4>
							<div class="inner-box">
								<div class="add-box">
									<img class="img-fluid" src="assets/img/img1.jpg" alt="">
								</div>
							</div>
						</div>
					</aside>
				</div>

				<div class="col-lg-8 col-md-12 col-xs-12 page-content">
					<div class="inner-box">
						<h2 class="title-2">
							<i class="fas fa-credit-card"></i>
							Prestation</h2>
						{{ include('prestation/_form.html.twig') }}

						<a href="{{ path('prestation_index') }}">
							retour à la liste</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Content -->
{% endblock %}
