{% extends 'base.html.twig' %}

{% block title %}Prestataire
{% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-title">Ad Details</h1>
			</div>
		</div>
	</div>
</div>
<!-- Page Header End -->

<!-- Start Content -->
<div id="content">
	<div class="container">
		<div class="row">
			<!-- Product Info Start -->
			<div class="col-lg-8 col-md-12 col-xs-12">
				<div class="inner-box ads-details-wrapper">
				
<h2>Votre commande :</h2>
<p class="commandetitle">{{prestation.titre}}</p>



					<div id="owl-demo" class="owl-carousel owl-theme">
						{% for image in prestation.images %}
						<div class="item">
							<div class="product-img">
								<img class="img-fluid" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="">
							</div>
						</div>
						{% endfor %}
					</div>
					</p>
				</div>

				<div class="box">
					<h2 class="title-2">
						<strong>Détail de la commande</strong>

					</h2>
					<div class="row">

						<div class="ads-details-info col-md-8">

							<aside>
								<ul class="panel-details">
									<li>
										<p class="no-margin">
											<strong>Type:</strong>
											<a href="#">{{prestation.service}}</a>

										</p>
									</li>
									<li>
										<p class="no-margin">
											<strong>Localité:</strong>
											<a href="#">{{prestation.localite}}</a>
										</p>
									</li>

								{# 	<li>
										<p class=" no-margin ">
											<strong>Prix:</strong>
											{{prestation.price}}
											MRU</p>
									</li> #}

								</ul>
							</aside>

						</div>
						<a class="btn btn-danger btn-post" href="{{ path('souscription_new', {'id': prestation.id}) }}">
							<span class="fas fa-plus-circle"></span>
							Souscrire à cette prestation</a>
					</div>
				</div>
			</div>

			{# <div class="col-lg-4 col-md-12 col-xs-12">
				<div class="inner-box">
					<div class="widget-title">
						<h4>Publicité</h4>
					</div>
					<img src="{{asset('assets/img/img1.jpg')}}" alt="">
				</div> #}
			
			
			
			
			</div>
		</div>
	</div>
	<!-- End Content -->

	<!-- Related Products Start -->
	<section class="featured-lis mb30">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow fadeIn" data-wow-delay="0.5s">
					<h3 class="section-title">Produits Similaires </h3>
					<div id="new-products" class="owl-carousel">
						{% for service in services %}
						{% for prestations in service.prestations %}
						{% if prestation != prestation %}
						<div class="item">
							<div class="product-item">
								<div class="carousel-thumb">
									{% for image in prestations.images %}
									<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="">
									{% endfor %}
									<div class="overlay">
										<a href="{{ path('prestation_show', {'id': prestations.id}) }}">
											<i class="fas fa-link"></i>
										</a>
									</div>
								</div>
								<a href="{{ path('prestation_show', {'id': prestations.id}) }}" class="item-name">{{prestations}}</a>
								{# <span class="price">$150</span> #}
							</div>
						</div>
						{% endif %}
						{% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
</div>
</section>
<!-- Related Products End -->
{% endblock %}