<!DOCTYPE html>
<html>

<head>
<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-WZKMT89');
</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148633848-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-148633848-1');
</script>


	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="google-site-verification" content="RDiIBdwP4jD0qiQwmcrv4_ovhMzcTrrtapTMPJeetRM"/>

	<meta name="author" content="GrayGrids Team">
	<title>
		{% block title %}Baradougou !
		{% endblock %}
	</title>
	{% block stylesheets %}
	<!-- Favicon -->
	<link rel="shortcut icon" href="{{asset('assets/img/favicon.png')}}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}" type="text/css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="{{asset('assets/fonts/all.min.css')}}" type="text/css">
	<!-- Line Icons CSS -->
	<link rel="stylesheet" href="{{asset('assets/fonts/line-icons/line-icons.css')}}" type="text/css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="{{asset('assets/extras/animate.css')}}" type="text/css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{{asset('assets/extras/owl.carousel.css')}}" type="text/css">
	<link rel="stylesheet" href="{{asset('assets/extras/owl.theme.css')}}" type="text/css">
	<!-- Slicknav js -->
	<link rel="stylesheet" href="{{asset('assets/css/slicknav.min.css')}}" type="text/css">
	<!-- Main Styles -->
	<link rel="stylesheet" href="{{asset('assets/css/main.css')}}" type="text/css">
	<!-- Responsive CSS Styles -->
	<link rel="stylesheet" href="{{asset('assets/css/responsive.css')}}" type="text/css">
	{% endblock %}
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZKMT89" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


	<!-- Header Section Start -->

	<div class="header">
		<!-- Navbar Start -->
		<nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
			<div class="container">
				<div class="theme-header clearfix">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse"
							aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
							<span class="lni-menu"></span>
							<span class="lni-menu"></span>
							<span class="lni-menu"></span>
						</button>
						<a href="{{ path('index') }}" class="navbar-brand"><img src="{{asset('assets/img/logo.png')}}"
								alt="" width="167px"></a>
					</div>
					<div class="collapse navbar-collapse" id="main-navbar">
						<ul class="navbar-nav mr-auto w-100 justify-content-end">
							{% if app.user != null %}

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<i class="lnr lnr-user"></i>
									{{app.user.nom}}
								</a>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="{{ path('compte') }}">
											<i class="lnr lnr-home"></i>
											Mon Compte</a>
									</li>
									{% if app.user.profil == 'prestataire'%}
									<li>
										<a class="dropdown-item" href="{{ path('annonces') }}">
											<i class="lnr lnr-cart"></i>
											Annonces</a>
									</li>
									{% endif %}
									<li>
										<a class="dropdown-item" href="{{ path('favorit') }}">
											<i class="lnr lnr-heart"></i>
											Favoris</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('archive') }}">
											<i class="lnr lnr-file-add"></i>
											Archives</a>
									</li>

								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link dropdown-toggle active" href="{{ path('app_logout') }}">
<i class="fas fa-times"></i>Se Deconnecter

								</a>
							</li>
							{% else %}
							<li class="nav-item">
								<a class="nav-link dropdown-toggle active" href="{{ path('app_login') }}">
									<i class="fas fa-lock"></i>
									Se Connecter

								</a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle active" href="{{ path('app_inscription') }}">
									<i class="fas fa-user"></i>S'inscrire

								</a>
							</li>

							<li class="postadd">
								<a class="btn btn-danger btn-post" href="{{ path('app_inscription_prestataire') }}">
									<span class="fas fa-plus-circle"></span>
									Devenir prestataire</a>
							</li>
							{% endif %}

						</ul>
					</div>
				</div>
			</div>
			<div class="mobile-menu" data-logo="{{asset('assets/img/logo.png')}}"></div>
		</nav>
		<!-- Navbar End -->
	</div>

	<!-- Header Section End -->

	{% block body %}{% endblock %}

	<!-- Footer Section Start -->
	<footer>
		<!-- Footer Area Start -->
		<section class="footer-Content">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
						<div class="widget">
							<h3 class="block-title">A Propos
							</h3>
							<div class="textwidget">
								<p>ON S'OCCUPE DE TOUT
									Notre philosophie est simple: apporter une réponse aux préoccupations de nos
									clients.
									<a href="{{path('about')}}">En savoir plus</a>

								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
						<div class="widget">
							<h3 class="block-title">Liens utiles</h3>
							<ul class="menu">
								<li>
									<a href="{{path('contact')}}"></i>Contact</li>
								</a>

								</li>

								<li>
									<a href="{{path('condition')}}">Conditions d'utilisation</a>
									<strong>&</strong>
									<a href="{{path('condition')}}">Politique de confidentialité</a><br/>
									<a href="{{path('condition-arabe')}}">شروط الاستعمال</a>
										<strong>&</strong>
											<a href="{{path('condition-arabe')}}">سياسة الخصوصية</a>
								</li>

							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
						<div class="widget">
							<h3 class="block-title">Assistance</h3>
							<div class="twitter-content clearfix">
								<ul class="twitter-list">
									<li class="clearfix">
										<span>
											Horaires D'ouverture
											<p>
												LUN -> VEN: 8.00AM - 6.30PM</p>
											<p>
												SAM & DIM: 9.00AM - 5.00PM</p>

										</span>
									</li>

								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
						<div class="map-container">

							<img src="{{asset('assets/img/map.png')}}" alt="#">

							<p>Nouakchott, MRT(Mauritanie)</p>

						</div>

					</div>

				</div>
			</div>
</body>

</html>
</section><!-- Footer area End -->
<!-- Copyright Start  -->
<div id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="site-info float-left">
					<p>BARADOUGOU&copy;<a href="http://uideck.com" rel="nofollow">2021</a>
					</p>
				</div>
				<div class="bottom-social-icons social-icon float-right">
					<a class="facebook" target="_blank" href="https://www.facebook.com/Baradougou-102682164876712/">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a class="whatsapp" target="_blank" href="https://wa.me/c/22227605393">

						<i class="fab fa-whatsapp"></i>

					</a>
					<a class="linkedin" target="_blank" href="https://www.linkedin.com/">
						<i class="fab fa-linkedin"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- Copyright End -->
</footer><!-- Footer Section End -->
<!-- Go To Top Link --><a href="#" class="back-to-top"><i class="fas fa-angle-up"></i></a>{% block javascripts %}
<!-- Main JS  -->
<script type="text/javascript" src="{{asset('assets/js/jquery-min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/popper.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/jquery.parallax.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/owl.carousel.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/jquery.slicknav.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/wow.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/jquery.counterup.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/waypoints.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/form-validator.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/contact-form-script.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/main.js')}}"></script>
<script>
				var myIndex = 0;
carousel();

function carousel() {
var i;
var x = document.getElementsByClassName("mySlides");
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";
}
myIndex++;
if (myIndex > x.length) {
myIndex = 1
}
x[myIndex - 1].style.display = "block";
setTimeout(carousel, 5000); // Change image every 2 seconds
}
			</script>

{% endblock %}</body>

</html>