{{ form_start(form,{'attr':{'class':'login-form'}}) }}
    <div class="form-group">
        <div class="input-icon">
            <i class="icon fas fa-user"></i>
            {{ form_widget(form.email ,{'attr':{'class':'form-control', placeholder:'Username', 'required':'true'}}) }}
        </div>
    </div> 
    <div class="form-group">
        <div class="input-icon">
            <i class="icon fas fa-unlock-alt"></i>
            {{ form_widget(form.password,{'attr':{'class':'form-control', placeholder:'Password', 'required':'true'}}) }}   
        </div>
    </div>                 
    <div class="checkbox">
        <input type="checkbox" id="remember" name="rememberme" value="forever" style="float: left;">
<label for="remember">En créant un compte, vous acceptez nos termes & Conditions générales</label>

    </div>
    <button class="btn btn-common log-btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
