{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur
{% endblock %}

{% block body %}
<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="page-title">Rejoingnez nous</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Content section Start -->
<section id="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="page-login-form box">
          <h3>
            Valider
          </h3>
          {{ include('user/_form.html.twig') }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section End -->
{% endblock %}