{{ form_start(form) }}
<div class="form-group mb-3">
<label class="control-label">veuillez décrire, brièvement, votre problème.</label>

	{{ form_widget(form.description, {attr:{'class':'form-control'}}) }}
	{{ form_widget(form.methode_paiement, {attr:{'class':'img-toggle'}}) }}
</div>
<button class="btn btn-common">{{ button_label|default('valider') }}</button>
{{ form_end(form) }}
