{% extends 'base.html.twig' %}

{% block title %}New Souscription
{% endblock %}

{% block body %}
	<!-- Page Header Start -->
	<div class="page-header" style="background: url({{asset('assets/img/banner1.jpg')}});">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title">Souscrire Prestation</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Content section Start -->
	<section id="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="row page-content">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="inner-box">
								<h2 class="title-2">Détails</h2>
								<div class="dashboard-wrapper">
									<div class="form-group mb-3">
										<label class="control-label">Prestation</label>
										<input class="form-control input-md" name="Title" value="{{prestation.titre}}" type="text" disabled>
									</div>
									<div class="form-group mb-3">
										<label class="control-label">Frais de déplacement</label>
										<input class="form-control input-md" name="Title" value="{{prestation.price}} MRU" type="text" disabled>
									</div>
									<div class="form-group mb-3">
										<label class="control-label">Modes de paiement</label>
										<div class=" mt-3">
											<div class="custom-control ">
												<input type="radio" name="paiement" value="livraison" id="tg-priceoncall" onclick="myFunction()">
												<label class="" for="tg-priceoncall">Paiement en espèces</label>
											</div>
											<div class="custom-control">
												<input type="radio" name="paiement" value="bankily" id="bankily" onclick="myFunction()">
												<label class="" for="tg-priceoncall">Paiement par Bankily</label>
												<div class="img-toggle" id="bankily-toggle">
													<img src="{{asset('assets/img/bankilyfr.jpg')}}" alt="">
												</div>
											</div>
										</div>
									</div>
									{{ include('souscription/_form.html.twig') }}
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}

{% block javascripts %}
	<!-- Main JS  -->
	<script>

		function myFunction() { // Get the checkbox
var checkBox = document.getElementById("bankily");
// Get the output text
var text = document.getElementById("bankily-toggle");

document.getElementById('souscription_methode_paiement').value = 'normal';

// If the checkbox is checked, display the output text
if (checkBox.checked == true) {
text.style.display = "block";
document.getElementById('souscription_methode_paiement').value = 'bankily';
} else {
text.style.display = "none";
document.getElementById('souscription_methode_paiement').value = 'normal';
}
}
	</script>
{% endblock %}
