{% extends 'base.html.twig' %}

{% block title %}Souscription{% endblock %}

{% block body %}
    <h1>Souscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ souscription.id }}</td>
            </tr>
            <tr>
                <th>DateDemande</th>
                <td>{{ souscription.dateDemande ? souscription.dateDemande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('souscription_index') }}">back to list</a>

    <a href="{{ path('souscription_edit', {'id': souscription.id}) }}">editer</a>

    {{ include('souscription/_delete_form.html.twig') }}
{% endblock %}
